img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
}
/*HEADER BLOCK*/
.header_background_color {
    background-color: #F0E3D1;
    opacity: 0.9;
}

.contact_me_button {
    margin-top: 10px;
}

.image_logo_top {
    max-width: 150px;
    height: auto;
}

.navbar-nav > li {
    /*font-family: "Brandon Grotesque", sans-serif;*/
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    color: #222222;
}

.big_image_top {
    margin-top: 50px;
    height: 750px;
    background-image: url(../images/3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
/*HEADER BLOCK END*/

/*TOP TEXT BLOCK*/
.top_text_block {
    margin-top: 330px;
    margin-bottom: 0px;
}

.about_me_block h3 {
    font-size: 3em;
    color: black;
    margin-bottom: 0px;
}

.about_me_block p {
    font-size: 2em;
    line-height: 40px;
    font-weight: 300;
    font-style: normal;
    color: black;
}
/*TOP TEXT BLOCK END*/
@media (min-width: 767px) {
    .contact_me_button {
        margin-top: 10px;
    }
    .photo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .big_image_top {
        height: 400px;
    }
    .about_me_block {
        text-align: center;
        margin-top: 120px;
    }
    .top_text_block {
        margin-top: inherit;
        margin-bottom: 0px;
    }
}
/*ABOUT AUTHOR BLOCK*/
.photo {
    max-width: 300px;
    /*border: 1px solid #F0E3D1;*/
    margin-top: 120px;
    box-shadow: 0px 0px 2px 0px;
}

.about_author_text h3 {
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    color: #333c4e;
}

.about_author_text {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    color: #7e8890;
    padding-top: 110px;
    padding-bottom: 110px;
}

@media (max-width: 767px){
    .about_author_text {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
    }
    .photo {
        margin-top: 0px;
    }
}
/*ABOUT AUTHOR BLOCK END*/

/*PROPOSES BLOCK*/

.proposes-block h3{
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    color: #333c4e;
}
.proposes-block h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: #333c4e;
}

.proposes-block p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 200;
    font-style: normal;
    color: #7e8890;
}

.proposal-header {
    padding-top: 0px;
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .proposal-header {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .portfolio-header h3 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
/*PROPOSES BLOCK END*/

/*PORTFOLIO BLOCK*/
.portfolio-header h3 {
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    color: #333c4e;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects-content h4 {
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    color: #7e8890;
}

/*PORTFOLIO BLOCK END*/

/*SOCIAL MEDIA BUTTONS*/
.socialFooterLinkList {
    height: 23px;
    width: auto;
    margin-bottom: 25px;
    text-align: center;
}

.fa {
    padding: 6px;
    font-size: 30px !important;
    width: 45px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    color: #D2C8BC;
    background: white;
    text-decoration: none;
}

.fa-facebook {
    background: #AAAAAA;
    color: rgb(241, 244, 248);
}

.fa-twitter {
    background: #AAAAAA;
    color: rgb(241, 244, 248);
    margin-left: 40px;
}

.fa-instagram {
    background: #AAAAAA;
    color: rgb(241, 244, 248);
    margin-left: 40px;
}

.fa-linkedin {
    background: #AAAAAA;
    color: rgb(241, 244, 248);
    margin-left: 40px;
}

@media (max-width: 767px) {
    .fa-twitter, .fa-instagram, .fa-linkedin {
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .fa {
        margin-bottom: 6px;
        width: 35px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    .fa {
        font: normal normal normal 20px/1 FontAwesome !important;
    }
    .socialFooterLinkList {
        height: 23px;
        /*margin-top: 10px;*/
    }
}
/*SOCIAL MEDIA BUTTONS END*/

/*FOOTER*/
.footer {
    background-color: #F0E3D1;
    font-size: 12px;
}
.contact-block {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    color: #7e8890;
}

.contact-block h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px;
    color: #20202c;
}

.share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
/*FOOTER END*/
