/*default**/
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.page_inside {
    padding: 0 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.item_page_inside {
    padding: 0 50px;
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #menu2 {
        display: none;
    }
}

@media (min-width: 1225px) {
    #menu2, .mob_menu_toggle {
        display: none;
    }
}

@media (max-width: 1224px) {
    .main_nav {
        display: none;
    }

/* Dropdown Button */
    .dropbtn {
        background-color: inherit;
        color: white;
        padding: 10px 0 16px 0;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        top: 100%;
        right: 0px;
        font-weight: bold;
        outline: none
    }

/* Dropdown button on hover & focus */
    .dropbtn:focus {
        background-color: #292929;
        color: white;
}
    .dropbtn:hover {
        background-color: #292929;
        color: yellow;
}

/* The container <div> - needed to position the dropdown content */
    #menu2 {
        position: relative;
        display: inline-block;
        z-index: 9999;
        margin-right: 40px;
    }

/* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: yellow;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-transform: uppercase;
        border-radius: 0 0 10px 10px;
        overflow: auto;
    }

/* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        line-height: 19px;
        font-weight: bold;
        font-size: 1em;
    }

/* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #292929;
        color: white;
    }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display:block;
    }
}

.mob_menu_toggle {
    margin-top: 6px;
    margin-right: auto;
    position: fixed;
    float: right;
    z-index: 10000;
    margin-left: 70%;
}

@media (max-width:760px) {
    .mob_menu_toggle {
        margin-right: auto;
        }
}

@media (max-width:630px) {
    .mob_menu_toggle {
        margin-left: 60%
        }
}

@media (max-width:480px) {
    .mob_menu_toggle {
        margin-left: 40%
        }
}

.item_background {
    background-color: #292929;
    height: 50px;
    width: 100%;
    display: block;
    position:fixed;
    z-index: 9999;
}

body {
    font: 16px "Roboto", Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none; color: yellow;
}

.clear {
    clear: both;
    height: 0;
}
/*default*/

.logo, .main_nav {
    float: left;
    padding: 0px 0px 0px 0px;
    position: fixed;
}

.logo {
    padding-top: 8px;
    z-index: 10000;
}

@media (max-width: 480px) {
    .logo {
        width: 30%;
        height: 30%;
    }
}

#menu {
    float: right;
    position: fixed;
    margin-left: 50%;
    z-index: 9999;
}

#menu > li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

#menu > li > a {
    color: #fff;
    font-size: 0.9375em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

#menu > li > a:hover {
    color: #000;
    background-color: #fcff19;
}

#menu > li:hover > a {
    background-color: #fcff19;
    border-radius: 10px 10px 0px 0px;
    color: black;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background-color: #fcff19;
    border-radius: 0 10px 10px 10px;
    padding: 20px;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2);
}

.submenu > li > a {
    color: black;
}

#menu li:hover .submenu {
    display: block;
}

.color_yellow {
    color: yellow;
}

.color_white {
    color: white;
}

/*HEAD SLIDER*/
.head_slider {
    background-color: #292929;
    display: block;
}

/*HEAD SLIDER END*/

/*CATEGORIES SECTION*/
.categ_bg {
    background-color: #292929;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.categ_text {
    color: white;
    font-size: 1.25em;
    position: relative;
    padding: 0px 0px 25px 0px;
    text-transform: uppercase;
    text-align: center;
}

.categ1 {
    max-height: 300px;
    width: auto;
    margin: 0;
    padding: 0;
}

.categ2 {
    max-height: 300px;
    width: auto;
    margin: 0;
    padding: 0;
}

.categ3 {
    max-height: 300px;
    width: auto;
    margin: 0;
    padding: 0;
}

.categ4 {
    max-height: 300px;
    width: auto;
    margin: 0;
    padding: 0;
}

.categ5 {
    max-height: 300px;
    width: auto;
    margin: 0;
    padding: 0;
}

.categ6 {
    max-height: 300px;
    width: auto;
    margin: 0;
    padding: 0;
}

.categ1 h1 {
    margin-top: 130px;
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
    text-transform: uppercase;
}

.categ2 h1 {
    margin-top: 130px;
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
    text-transform: uppercase;
}

.categ3 h1 {
    margin-top: 130px;
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
    text-transform: uppercase;
}

.categ4 h1 {
    margin-top: 130px;
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
    text-transform: uppercase;
}

.categ5 h1 {
    margin-top: 130px;
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
    text-transform: uppercase;
}

.categ6 h1 {
    margin-top: 130px;
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
    text-transform: uppercase;
}

.categ_btn > a:hover h1 {
    color: yellow;
}

@media (max-width: 480px) {
    .categ1 h1, .categ2 h1, .categ3 h1, .categ4 h1, .categ5 h1, .categ6 h1 {
        font-size: 2em;
        margin-top: 90px;
    }
}

@media (max-width: 768px) {
    .categ1, .categ2, .categ3 {
        margin: 0px 0px 0px 0px;
    }
}
/*CATEGORIES SECTION END*/

/*GALERY SECTION*/
.gallery_bg {
    background: url('../images/gallery_bg.png') no-repeat;
    min-height: 630px;
    width: 100%;
}

.gallery_text {
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 0px 0px 0px;
    position: relative;
}

.gallery_img {
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

/*SLIDER ITEMS OPTIONS*/
.option_block {
    display: inline-block;
    float: left;
    text-align: left;
    margin-bottom: 10px;
}

.cover_block {
    float: right;
    padding-top: 5px;
}

.buy_btn_block {
    display: inline-block;
}

.buy_btn_block > a {
    background-color: #B6B6B6;
    border-color: white;
    color: white;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 30px 6px 30px;
    margin-right: 15px;
}

.buy_btn_block > a:hover {
    background-color: black;
    border-color: black;
    color: yellow;
}

.buy_btn_block {
    height: 30px;
    margin-bottom: 10px;
}

@media (max-width: 1159px) {
    .city_bikes, .fat_bikes, .urban_bikes {
        width: 50%;
    }
}

@media (max-width: 1083px) {
    .full_option {
       font-size: 1em;
   }
}

@media (max-width: 991px) {
     .full_option {
        font-size: 0.75em;
    }
    .buy_btn_ub > a {
        font-size: 0.75em;
        padding: 3px 10px 3px 10px;
        margin-right: 5px;
    }
    .buy_btn_fb > a {
        font-size: 0.75em;
        padding: 3px 10px 3px 10px;
    }
    .buy_btn_cb > a {
        font-size: 0.75em;
        padding: 3px 10px 3px 10px;
    }
}

@media (max-width: 825px) {
    .city_bikes, .fat_bikes, .urban_bikes {
        width: 100%;
    }
    .full_option {
        height: auto;
    }
    .full_option {
       font-size: 0.5em;
   }
}

@media (max-width: 321px) {
    .city_bikes, .fat_bikes, .urban_bikes {
        width: 100%;
    }
    .full_option {
        height: auto;
    }
    .full_option {
       font-size: 0.5625em;
   }
}
/*SLIDER OTEM OPTIONS END*/
/*GALLERY END*/

/*BRANDS SECTION*/
.brands_border {
    display: inline-block;
    max-height: auto;
    width: 100%;
    background-color: black;
    text-align: center;
}

.brand_image {
    float: left;
    top: 100%;
    padding: 0;
    max-width: 10%;
    margin-left: 15px;
}

@media (max-width: 760px) {
    .brands_border {
        display: none;
    }
}
/*BRANDS SECTION END*/

/*CONTACT SECTION*/
.contact_bg {
    background: url('../images/contact_us_bg.png') no-repeat;
    min-height: 634px;
    background-size: cover;
}

.contact_text {
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0px 0px 0px;
    position: relative;
}

.contact_text2 {
    font-size: 0.9375em;
    text-align: center;
    font-style: italic;
    padding: 10px 0px 0px 0px;
    position: relative;
}

.form_section {
    text-align: center;
}

.form_section div input, .form_section div textarea {
    width:380px;
}

@media (max-width: 500px) {
    .form_section div input, .form_section div textarea {
        width:100%;
    }
}

.name, .surname {
    display: block;
}

.name {
    margin: 20px 0px 20px 0;
    border-color: black;
}

.surname {
    margin: 20px 0px 20px 0px;
}

.mail {
    margin: 20px 0px 10px 0px;
    padding-left: 0px;
}

.submit {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}
/*CONTACT SECTION END*/

/*FOOTTER*/
.footer_end {
    background-color: yellow;
    min-height: 100px;
    width: auto;
}

/*SOCIAL MEDIA BUTTONS*/
.socialFooterLinkList {
    height: 23px;
    width: auto;
    margin-top: 25px;
    position: absolute;
    float: left;
    margin-top: 15px;
    text-align: center;
}

.fa {
    padding: 6px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 10px;
}

.fa:hover {
    /*opacity: 0.7;*/
    color: yellow;
    background: black;
}

.fa-facebook {
    background: #B6B6B6;
    color: white;
}

.fa-twitter {
    background: #B6B6B6;
    color: white;
}

.fa-youtube {
    background: #B6B6B6;
    color: white;
}

.fa-instagram {
    background: #B6B6B6;
    color: white;
}

@media (max-width: 870px) {
    .fa {
        padding: 4px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        margin-left: 7px;
    }
    .socialFooterLinkList{
        height: 23px;
        position: absolute;
        float: left;
        margin-top: 22px;
        text-align: center;
    }
}

@media (max-width: 795px) {
    .fa {
        padding: 6px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        margin-left: 10px;
    }
    .socialFooterLinkList{
        height: 23px;
        position: absolute;
        float: left;
        margin-top: 15px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .fa {
        padding: 4px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        margin-left: 7px;
    }
    .socialFooterLinkList{
        height: 23px;
        position: absolute;
        float: left;
        margin-top: 20px;
        text-align: center;
    }
}

/*SOCIAL MEDIA BUTTONS END*/

/*HEAD MENU BOTTON*/
@media (max-width: 795px) {
    .head_menu_bottom {
        display: none;
    }
}

.main_nav_bottom {
    width: 100%;
    padding: 7px 0px 0px 0px;
}

.head_menu_bottom {
    float: right;
}

.head_menu_bottom > li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    line-height: 40px;
    font-weight: bold;
    position: bottom 100%;
}

.head_menu_bottom > li > a {
    color: black;
    font-size: 0.9375em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.head_menu_bottom > li > a:hover {
    color: #000;
    background-color: #fcff19;
}

.submenu_bottom {
    display: none;
    left: 0;
    width: 220px;
    background-color: #fcff19;
    border-radius: 10px 10px 0px 10px;
    position: absolute;
    Bottom: 100%;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    box-shadow: 8px -4px 8px -2px rgba(0,0,0,0.2);
}

.submenu_bottom > li > a {
    color: black;
}

.head_menu_bottom  li:hover .submenu_bottom {
    display: block;
}
/*HEAD MENU BOTTON END*/

/*LICENSE STRING*/
.license_string  {
    display: block;
    margin-top: 60px;
    width: 100%;
    color: #b6b6b6;

}
/*LICENSE STRING END*/

/*FOOTER END*/
/*END INDEX.html PAGE*/

/*SUBMIT PAGE*/
.h1_submit{
    font-size: 1.875em;
    text-transform: uppercase;
    color: red;
    text-align: center;
    padding: 70px 30px 30px 30px;
}

.p_submit {
    font-size: 2.1875em;
    text-transform: uppercase;
    color: black;
    font-style: italic;
    text-align: center;
    line-height: 60px;
    padding: 0px 30px 0px 30px;
}

.submit_image {
    text-align: center;
}
/*SUBMIT PAGE END*/

/*BUTTON TO MAIN PAGE*/
.back_button_main {
    text-align: center;
}

.home_button > a {
    text-align: center;
    background-color: #B6B6B6;
    border-color: black;
    color: white;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 30px 6px 30px;
    position: relative;
    display: inline-block;
    margin: 20px 0 20px 0;
}

.home_button > a:hover {
    background-color: black;
    border-color: black;
    color: yellow;
}
/*BUTTON TO MAIN PAGE END*/

/*SERVICES AND PRICES PAGE*/
.service_background {
    background: url('../images/services_and_prices/service_background4.png') no-repeat;
    min-height:520px;
    width: 100%;
    padding: 0;
}

.slider_slogan_workshop {
    text-align: center;
    padding-top: 120px;
    font-size: 2.1875em;
    color: white;
}

.info_table {
    text-align: center;
    margin: 10px 0 30px 0;
}

.caption {
    text-align: center;
    padding: 20px;
    font-size: 1.875em;
    margin-top: 50px;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    border-collapse: collapse;
}

td, th {
    border: thin dotted gray;
    text-align: center;
    padding: 20px 0 20px 0;
}

th {
    background-color: #B6B6B6;
    text-transform: uppercase;
    text-align: center;
}

.table {
    font-size: 1em;
}
@media (max-width: 768px) {

}
/*SERVICES AND PRICES PAGE END*/

/*ITEM PAGE*/
/*OPTIONS*/

/*SLIDESHOW*/
.cycle-slideshow {
    width: 100%;
    max-width: 50%;
    display: block;
    position: relative;
    float: left;
    margin: 20px auto;
}

.cycle-slideshow img {
    max-width: 100%;
    display: block;
    margin-top: 60px;
}

.cycle-prev, .cycle-next {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 44%;
    z-index: 9998;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    font-size: 200%;
}

.cycle-prev {
    left: 5%;
}

.cycle-next {
    right: 5%;
}
/*THUMBNAILS STYLING*/
.cycle-pager {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 9998;
    cursor: pointer;
}

.cycle-pager a {
    display: inline-block;
    margin: 0 5px;
    opacity: .5;
    width: 10%;
}

.cycle-pager .cycle-pager-active {
    opacity: 1;
}

.cycle-pager .thumb {
    width: 10%;
}

.thumb {
    display: block;
}

@media (max-width: 1024px) {
    .cycle-slideshow {
       width: 100%;
       max-width: 100%;
       margin: 20px auto;
    }
}

@media (max-width: 760px) {
    .cycle-slideshow {
       width: 100%;
       max-width: 100%;
       margin: 20px auto;
   }
   .item_slider .item_page_inside {
       padding: 0px;
       max-width: 100%;
       margin: 0 auto;
    }
}

@media (max-width: 480px) {
     .cycle-slideshow {
        width: 100%;
        max-width: 100%;
        margin: 20px auto;
    }
    .item_slider .item_page_inside {
        padding: 0px;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .big_carousel {
        display: none;
    }
}

/*SLIDESHOW END*/

/*ITEM DESCRIPTION*/
.text_block {
    margin: 80px 0px 20px 0;
}

.options {
    float: left;
    width: 40%;
    font-size: 1.125em;
    line-height: 26px;
    display: inline-block;
}

.item_name {
    font-size: 3em;
    line-height: 48px;
    font-weight: bold;
}

.item_price {
    font-size: 1.125em;
    line-height: 26px;
    margin: 70px 20px 0 0;
    font-weight: bold;
}

.item_new_price {
    color: red;
    font-size: 1.125em;
    line-height: 26px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

.item_model {
    font-size: 0.875em;
    line-height: 26px;
    color: gray;
}

.item_model_number {
    font-size: 0.875em;
    line-height: 26px;
    color: #8f8f8f;
}

.item_model, .item_model_number {
    display:inline-block;
}

.border {
    border-bottom: 1px solid #f2f2f2;
    padding-top: 5px;
}

.item_color {
    font-size: 1.125em;
    line-height: 26px;
    margin-top: 20px;
}

.item_size {
    font-size: 1.125em;
    line-height: 26px;
    margin: 40px 20px 0 0;
}

.size_table {
    margin: 10px 0 0 20px;
}

.bike_size_block, .size_table {
    display: inline-block;
}

.bike_size_block, .size_table > a {
    color: black;
    font-size: 1.125em;
    line-height: 26px;
    padding-top: 20px;
}

.item_size_variant {
    color: gray;
}

.available_item_block {
    margin: 20px 20px 20px 0;
}

.available_block {
    color: green;
    margin: 20px 20px 20px 0;
}

.available_item_block, .are_item_available {
    display: inline-block;
}

@media (max-width: 1024px) {
    .options {
        width: 100%;
    }
    .text_block {
        margin: 0 0 20px 0;
    }
    .item_model_number {
        font-size: 0.875em;
        line-height: 26px;
        color: #8f8f8f;
    }
}

@media (max-width: 480px) {
    .item_name {
        font-size: 1.5em;
        line-height: 24px;
    }
    .item_price {
        margin-top: 10px;
    }
    .item_model_number {
        color: black;
    }
}
/*OPTIONS END*/

/*TABLE*/
.about_item {
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.125em;
    line-height: 26px;
    color: #292929;
    vertical-align: top;
    display: inline-block;
}

.about_item h2, h1 {
    padding: 0 0 10px 0;
}

.item_page_inside h2 {
    padding: 5 0 5px 0;
}

.tech_description {
    display: block;
    margin-top: 20px;
    font-size: 1.125em;
    line-height: 26px;
}

.specifications {
    display: block;
    margin-top: 30px;
    font-size: 1.25em;
}

.specifications h3 {
    margin: 5px 0 5px 0;
    border-top: 1px solid #f2f2f2;
}

.details-list_item {
    margin: 0;
    overflow: hidden;
    padding: 15px 0;
    border-top: 1px solid #f2f2f2;
}

.specifications ul {
    margin-left: 0;
    display: block;
}

dl {
    display: block;
}

dt {
    font-size: 1em;s
    display: block;
    color: gray;
    padding-bottom: 5px;
}

dd {
    font-size: 1em;
    display: block;
}

li {
    display: list-item;
}

@media (max-width: 500px) {
    .item_name {
        font-size: 1.5625em;
        line-height: 25px;
    }
    .item_price, .item_model, .item_color, .item_size , .bike_size_block, .size_table > a, .available_item_block, .available_item_block, .about_item, .tech_description, .specifications, .details-list_item {
        font-size: 0.875em;
        line-height: 26px;
    }
}
/*TABLE END*/
/*ITEM DESCRIPTION END*/
/*ITEM PAGE END*/

/*USER POSITION BOX*/
.my_position {
    display: block;
    font-weight: lighter;
    text-transform: uppercase;
    border-color: black;
    margin-left: 80px;
    margin-top: 50px;
    padding-bottom: 30px;
    line-height: 22px;
    font-size: 1em;
    position: absolute;
    z-index:9998;
}

.my_position a {
    color: black;
}

.my_position a:hover {
    color: gray;
}

@media (max-width: 480px) {
    .my_position {
        margin-left: 10px;
        margin-top: 50px;
        font-size: 0.75em;
    }
}
/*USER POSITION BOX END*/

/*ALL ITEMS PAGE*/


/*OPTIONS SIDEBAR*/
.sidebar {
    float: left;
    height: auto;
    width: 200px;
    display: block;
    margin-right: 20px;
    margin-top: 100px;
    margin-left: 20px;
}

.sidebar a {
    color: black;
}

.sidebar a:hover {
    text-decoration: underline;
}

.underline {
    border-top: 1px solid #f2f2f2;
}

.sidebar_content {
    text-align: left;
}

.sidebar_content > h1 {
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: normal;
    display: block;
}

.filter_section h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1em;
    display: block;
}

.gender_filter {
    margin-left: 10px;
    line-height: 2em;
    font-style: italic;
    font-size: 0.875em;
    display: block;
}

.price_filter {
    margin-left: 10px;
    line-height: 2em;
    font-style: italic;
    font-size: 0.875em;
    display: block;
    color: black;
}

.fr_material_filter {
    margin-left: 10px;
    line-height: 2em;
    font-style: italic;
    font-size: 0.875em;
    display: block;
}

.color_filter {
    margin-left: 10px;
    line-height: 2em;
    font-style: italic;
    font-size: 0.875em;
    display: block;
}


@media (max-width: 680px) {
    .sidebar {
        font-size: 1em;
        width: 100%;

    }
    .sidebar ul li {
        display: inline;
    }

    .filter_section {
        max-width: 130px;
        float: left;
    }

    .sidebar_content h1 {
        width: 100%;
    }

}
/*OPTIONS SIDEBAR END*/

.product_title {
    width: 25%;
    float: left;
    margin-top: 50px;
}

.product_title_info {
    height: 55px;
}

.product_title a {
    color: black;
    text-align: center;
    font-size: 1em;
    line-height: 26px;
    display: block;
    margin: 5px;
    padding: 10px;
}

.product_title a:hover {
    color: gray;
}

.product_title_saleprice {
    color: #8f8f8f;
}

@media (max-width: 991px) {
     .product_title-title {
        font-size: 1em;
    }
}

@media (max-width: 680px) {
    .product_title {
        width: 100%;
    }
    .product_title {
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .product_title {
        width: 100%;
    }
    .product_title_info {
        height: auto;
    }
}

/*OLDER PRICE WHEN SALE*/
.older_price {
    text-decoration: line-through;
}
/*OLDER PRICE WHEN SALE END*/

/*SALE MARKER*/
.sale {
    color: red;
    font-weight: bold;
    font-size: 1em;
}
/*
<h3 class="product_title-title">
    7.4 FX
</h3>
<div class="sale_marker">
    <span class="sale">SALE</span>
</div>
<p class="product_title-price">
    <span class="product_title_saleprice">$629.99 | </span>
    <span class="older_price">$769.99</span>
</p>
</div>*/
/*SALE MARKER END*/

/*ALL ITEMS PAGE END*/

/*CONTACT PAGE*/
.contact_image {
    width: 100%;
    height: 0px;
}

.contact_header {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact_phone {
    text-transform: uppercase;
    font-size: 1em;
    margin: 20px;
}

.contact_email {
    text-transform: uppercase;
    font-size: 1em;
    margin: 20px;
}

.contact_map {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    margin: 20px;
    width: 100%;
    height: 100%;
}

.contact_map iframe {
    width:100%;
}

@media (max-width: 768px) {
    .contact_header {
        font-size: 0.875em;
    }
    .contact_phone {
        font-size: 0.875em;
    }
    .contact_page h2 {
        font-size: 0.875em;
    }
    .contact_email {
        font-size: 0.875em;
    }
    .contact_map iframe {
        width: 100%;
        height: 400px;
        font-size: 0.875em;
    }
/*CONTACT PAGE END*/
