@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
  src: url("../fonts/Nunito_Sans/NunitoSans-Bold.ttf");
  src: url("../fonts/Nunito_Sans/NunitoSans-Light.ttf");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
div {
  display: block;
}
body {
  padding: 0;
  margin: 0;
  display: block;
  color: #666;
  background-color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7em;
}
body html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
}
a:active,
a:focus,
a:hover {
  outline: 0;
}
.site-wrap,
.site-container {
  position: relative;
  width: 100%;
}
.site-container {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}
.header_wraper {
  background: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.header_wraper .header_container {
  padding: 4% 0;
  padding-bottom: 200px;
}
.header_wraper .header_container .content {
  width: 89%!important;
  max-width: 89%!important;
  margin: auto;
}
.header_wraper .header_container .content h1 {
  font-family: Helvetica, Arial, Lucida, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  color: #253542;
  letter-spacing: 7px;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 10px;
  vertical-align: baseline;
}
.header_wraper .header_container .content h2 {
  font-family: Helvetica, Arial, Lucida, sans-serif;
  color: #00c1ca!important;
  font-size: 28px;
  padding-bottom: 1em;
  font-weight: 900;
  vertical-align: baseline;
}
.header_wraper .header_container .content h3 {
  font-family: Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600!important;
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(37, 53, 66, 0.4);
  letter-spacing: 7px;
  line-height: 1.4em;
  vertical-align: baseline;
}
@media (max-width: 980px) {
  .header_wraper {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(#253542)), url('../images/header.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, #253542 100%), url('../images/header.jpg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, #253542 100%), url('../images/header.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, #253542 100%), url('../images/header.jpg');
  }
  .header_container .content h3 {
    color: #6aabd1!important;
  }
  .header_container .content h1 {
    font-size: 32px!important;
    color: #ffffff!important;
  }
  .header_container .content h2 {
    padding-bottom: 10px!important;
  }
}
.main {
  background-color: #f5f5f5;
  padding: 54px 0;
}
.main .text_container .text_container_content {
  position: relative;
  width: 80%;
  max-width: 1080px;
  margin: auto;
  padding: 27px 0;
}
.main .text_container .text_container_content p {
  font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.8em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 100%;
  font-weight: 100;
  vertical-align: baseline;
}
.main .text_container .text_container_content p:last-of-type {
  padding-bottom: 0;
}
.main .text_container .text_container_content::after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  line-height: 0;
  content: ".";
}
.main .card_block_full_width {
  width: 94%!important;
  max-width: 94%!important;
  padding: 27px 0;
  position: relative;
  margin: auto;
  text-align: center;
}
.main .card_block_full_width::after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  line-height: 0;
  content: ".";
}
.main .card_block_full_width .card_block {
  margin-bottom: 0!important;
  margin-right: 3%;
  width: 31.333%;
  float: left;
  position: relative;
  z-index: 9;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.main .card_block_full_width .card_block:last-child {
  margin-right: 0!important;
}
.main .card_block_full_width .card_block .card {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
.main .card_block_full_width .card_block .card .card_block_image {
  display: inline-block;
  max-width: 100%;
  line-height: 0;
  margin-bottom: 0!important;
  background-color: #00c1ca;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  padding: 33px;
  font-size: 35px;
  position: relative;
  z-index: 1;
  color: #dc1d49!important;
}
.main .card_block_full_width .card_block .card .card_block_image::after {
  content: '';
  display: block;
}
.main .card_block_full_width .card_block .card .card_block_image i {
  font-weight: lighter;
  font-size: 100%;
}
.main .card_container {
  background: #fff;
  padding: 75px 25px 25px 25px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: -50px;
}
.main .card_container:hover {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 7px 20px 10px rgba(0, 0, 0, 0.18) !important;
}
.main .card_container h3 {
  font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  color: #333;
  font-weight: 700;
  line-height: 1em;
}
.main .card_container p {
  font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
  padding-bottom: 0;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}
@media (max-width: 980px) {
  .card_block {
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%!important;
    float: none;
    text-align: center;
  }
  .card {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .card_block_image {
    margin-top: 20px;
  }
}
.inst_block_full_width {
  padding: 54px 0;
  background-color: #fff;
  position: relative;
  width: 80%;
  max-width: 1080px;
  margin: auto;
}
.inst_block_full_width .inst_block_header {
  padding: 27px 0;
  padding-bottom: 0;
}
.inst_block_full_width .inst_block_header::after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  line-height: 0;
  content: ".";
}
.inst_block_full_width .inst_block_header .inst_header {
  margin-left: 0px!important;
  margin-right: 0px!important;
  max-width: 600px;
}
.inst_block_full_width .inst_block_header .inst_header p {
  color: #253542!important;
  font-family: Helvetica, Arial, Lucida, sans-serif;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px!important;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1.4em;
}
.inst_block_full_width .inst_columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  padding: 27px 0;
  margin: 0 auto;
}
.inst_block_full_width .inst_columns .column {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 29.666%;
  margin-right: 5.5%;
  float: left;
  position: relative;
  z-index: 9;
  margin: 0 auto;
}
.inst_block_full_width .inst_columns .column:first-child {
  background-color: rgba(0, 199, 205, 0.49);
}
.inst_block_full_width .inst_columns .column:nth-child(2) {
  background-color: #00c1ca;
}
.inst_block_full_width .inst_columns .column:last-child {
  background-color: #edf1f4;
}
.inst_block_full_width .inst_columns .column .column_animation {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  opacity: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
          transform: scale3d(0.9, 0.9, 0.9);
}
.inst_block_full_width .inst_columns .column .column_animation .column_content {
  padding-top: 40px;
  padding-right: 20px!important;
  padding-left: 20px!important;
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
.inst_block_full_width .inst_columns .column .column_animation .column_content h3 {
  font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
  color: #333333!important;
  font-size: 1.17em;
  font-weight: bold;
}
.inst_block_full_width .inst_columns .column .column_animation .column_content p {
  font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
  color: #333333!important;
  font-size: 100%;
  font-weight: 200;
}
.inst_block_full_width .inst_columns .column .column_animation .column_content .column_content_img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 30px;
  line-height: 0;
}
.inst_block_full_width .inst_columns .column .column_animation .column_content .column_content_img .image_wrap {
  display: block;
  margin: auto;
}
.inst_block_full_width .inst_columns .column .column_animation .column_content .column_content_img .image_wrap img {
  opacity: 1;
  max-width: 100%;
  height: auto;
}
@media (max-width: 980px) {
  .inst_columns {
    display: block!important;
    direction: none!important;
  }
  .inst_columns .column {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%!important;
    margin-right: 0!important;
    float: none!important;
    margin-bottom: 30px!important;
  }
  .column_content {
    padding-top: 10px!important;
  }
}
.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 53, 66, 0.83)), to(#253542)), url(../images/footer.jpg);
  background-image: -webkit-linear-gradient(top, rgba(37, 53, 66, 0.83) 0%, #253542 100%), url(../images/footer.jpg);
  background-image: -o-linear-gradient(top, rgba(37, 53, 66, 0.83) 0%, #253542 100%), url(../images/footer.jpg);
  background-image: linear-gradient(180deg, rgba(37, 53, 66, 0.83) 0%, #253542 100%), url(../images/footer.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
  position: relative;
}
.footer .footer_content {
  position: relative;
  width: 80%;
  max-width: 1080px;
  margin: auto;
  padding: 27px 0;
}
.footer .footer_content::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
  content: " ";
}
.footer .footer_content .description_column {
  width: 29.666%;
  margin-right: 5.5%;
  float: left;
  position: relative;
  z-index: 9;
}
.footer .footer_content .description_column .footer_header {
  margin-left: auto!important;
  margin-right: auto!important;
}
.footer .footer_content .description_column .footer_header h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-family: Helvetica, Arial, Lucida, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 7px;
  line-height: 1.4em;
  color: #fff;
}
.footer .footer_content .description_column .footer_header p {
  padding-bottom: 0;
  line-height: 1.8em;
  color: white;
  font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 200;
}
.footer .footer_content .form_column {
  margin-right: 0!important;
  width: 64.833%;
  float: left;
  position: relative;
  z-index: 9;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.footer .footer_content .form_column .contact_form_0 {
  margin-bottom: 0;
}
.footer .footer_content .form_column .form_content {
  position: relative;
  margin-left: -3%;
}
.footer .footer_content .form_column .form_content .contact_field {
  margin-bottom: 3%;
  padding: 0 0 0 3%;
  color: white!important;
}
.footer .footer_content .form_column .form_content .contact_field .input {
  color: #fff!important;
  width: 100%;
  font-family: Helvetica, Arial, Lucida, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  background-color: #253542;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 16px;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-appearance: none;
  clear: both;
}
.footer .footer_content .form_column .form_content .contact_field .input textarea {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font: 400 11px system-ui;
}
.footer .footer_content .form_column .form_content .contact_field .input_message {
  min-height: 150px;
  width: 100%;
  font-family: Helvetica, Arial, Lucida, sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: #253542;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 16px;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-appearance: none;
  color: white!important;
  clear: both;
}
.footer .footer_content .form_column .btn_container {
  float: right;
  margin-top: -1.5%;
  text-align: right;
}
.footer .footer_content .form_column .btn_container button {
  color: #ffffff!important;
  background: #00c7cd;
  border-width: 3px!important;
  border-color: #00c7cd;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  letter-spacing: 3px;
  font-size: 16px;
  font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 800!important;
  text-transform: uppercase!important;
  background-color: #00c7cd;
  cursor: pointer;
  padding: 0.3em 1em!important;
  position: relative;
  line-height: 1.7em!important;
  outline: none;
}
.footer .footer_content .form_column .btn_container::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
  content: " ";
}
@media (max-width: 980px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer_header p {
    padding-bottom: 25px!important;
  }
  .description_column {
    width: 100%!important;
    margin-right: 0!important;
    float: none!important;
  }
  .form_column {
    margin-right: 0!important;
    width: 100%!important;
    float: none!important;
  }
}
