@font-face {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    src: url("css/fonts/Harabara.ttf");
}

body {
    background-color: #FFFFFF;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    min-height: 104px;
    background-color: #56BFF3;
    color: white;
    padding: 0 20;
    position: fixed;
    z-index: 5;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

.content_header {
    display: inline-block;
}

.logo_section {
    width: 496px;
    max-width: 100%;
}

.logo_block {
    display: inline-block;
    max-width: 100%;
}

.logo_block img {
    display: block;
    clear: bottom;
    margin-top: 29px;
    margin-right: 12px;
}


.site_name {
    display: inline-block;
}

.site_name p {
    font-weight: Arial, sans-serif;
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
}

.phone {
    display: block;
    width: 422px;
}

.phone p {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
}

.phone p:last-child {
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-left: 30px;
    border-bottom: 1px dashed white;
}

.social {
    display: block;
    width: 114px;
    float: right;
    padding-right: 0;
    margin-right: 0;
    right: 0;
}

@media(max-width: 1080px){
    .logo_section {
            width: 100%;
            margin-right: 30px;
    }
    .phone {
        width: 100%;
        margin-right: 20px;
    }
    .phone p:last-child {
        margin-left: 10px;
    }
}

.social img {
    display: inline-block;
    width: 25px;
    padding-left: 10px;
}

@media(max-width: 532px){
    .social img {
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 5px;
    }
    .phone {
        padding-top: 5px;
    }
}

.content_container {
    padding-top: 104px;
}

.container_big_img {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

.content_big_img {
    background: url('../images/big_foto.png') no-repeat;
    height: 552px;
}

.banner_container {
    display: block;
    position: relative;
    padding-top: 274px;
    margin-right: 782px;
    margin-left: 29px;
    padding-bottom: 48px;
}

.banner {
    width: 230px;
    height: 230px;
    margin: auto;
    margin-bottom: 36px;
    border-radius: 50%;
    border: none;
    background-color: #ffff33;
    opacity: 0.8;
    position: relative;
}

.banner h2 {
    display: block;
    width: 145px;
    height: 52px;
    margin: 0 auto;
    padding: 36px 0px 52px 0px;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.banner p {
    text-align: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.tour_id {
    text-align: center;
    padding-top: 5px;
}

.tour_id p {
    text-align: center;
    color: white;
    padding: 2px;
    width: 108px;
    background-color: black;
    margin: 0 auto;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.under_conteiner {
    padding: 31px 0;
    font-size: 0;
}
@media(max-width: 860px) {
    .under_conteiner {
        text-align: center;
    }
}

.hotel_id {
    width: 70%;
    position: relative;
    display: inline-block;
}

@media(max-width: 860px) {
    .hotel_id {
        width: 100%;
        margin-top: 20px;
    }
}

.name {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
}

.reiting {
    font-size: 35px;
    color: #FFC20F;
    padding-left: 31px;
    padding-right: 31px;
}

@media (max-width: 860px) {
    .reiting {
        display: block;
        padding: 30px 0;
    }
}

.price {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.hotel_reiting ul {
    list-style-type: none;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0px;
    margin: 0;
}

.hotel_reiting ul li {
    display: inline-block;
    color: #666666;
    padding-right: 10px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.hotel_reiting ul li p {
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.hotel_reiting ul li:first-child {
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: none;
}

.gray {
    color: #666666!important;
    font-weight: bold!important;
    font-size: 14px!important;
    font-family: Arial, sans-serif;
    line-height: 22px;
}

.total_reiting {
    width: 40px;
    background-color: #00ccff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 24px!important;
    font-weight: bold;
    margin-top: 0px;
    padding: 17px 8px;
    margin-top: 24px;
    margin-left: 23px;
    margin-right: 18px;
    text-align: center;
    color: white!important;
}

@media(max-width: 575px) {
    .total_reiting {
        margin-bottom:10px;
    }
}

.sun_days {
    top: -80px;
    position: relative;
    left: 45px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

@media (max-width: 860px) {
    .sun_days {
        width: 100%;
        margin-top: 30px;
        top: 0;
        left: 0;
        text-align: center;
    }
}

.sun_days h1 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 100px;
    font-weight: normal;
    color: #777777;
    line-height: 95px;
}

.sun_days p {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
}

.catalog_item1 {
    width: 48%;
    margin-right: 32px;
    position: relative;
    display: inline-block;
}

.catalog_item2 {
    width: 48%;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.catalog_item1 img {
    width: 100%;
    height: 279px;
}

.catalog_item1 img {
    width: 100%;
    height: 279px;
}

@media (max-width: 940px) {
    .catalog_item1 {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        display: block;
        text-align: center;
    }

    .catalog_item2 {
        width: 100%;
        margin-right: 0;
        position: relative;
        display: block;
        text-align: center;
    }

    .catalog_item1 img {
        width: 100%;
        height: auto;
    }

    .catalog_item2 img {
        width: 100%;
        height: auto;
    }
}

.tour_name {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    display: block;
    line-height: 37px;
    border-bottom: 1px solid gray;
    float: left;
    padding-bottom: 0px;
    margin-top: 14px;
}

.tour_price {
    float: right;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.type_of_tour {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    float: left;
    padding-top: 8px;
    color: #666666;
}

@media (max-width: 940px) {
    .type_of_tour {
        padding-left: 30px;
        padding-bottom: 10px;
    }
}

.text_big {
    max-width: 100%;
    margin-top: 66px;
    margin-bottom: 24px;
}

.text_big span {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.text_big2 {
    display: none;
    max-width: 100%;
    margin-top: 66px;
    margin-bottom: 24px;
}

.text_big2 span {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

@media(max-width: 1058px) {
    .text_big {
        display: none;
    }
    .text_big2 {
        display: block;
    }
}

@media(max-width: 986px) {
    .text_big2 {
        max-width: 100%;
        margin-top: 66px;
        margin-bottom: 24px;
    }
}

.text_left {
    max-width: 70%;
}

@media(max-width: 986px) {
    .text_left {
        max-width: 100%;
    }
}

.text_block1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
}

.text_block2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.text_left h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 17px;
    margin-bottom: 7px;
}

.text_block3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.text_block4 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-top: 23px;
    display: block;
    margin-left: 26px;
    border-left: 3px solid #33ccff;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: #F0FBFE;
}

.text_block5 {
    margin-top: 17px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.text_left h4 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 7px;
}

.text_block6 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.text_block7 {
    margin-top: 27px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.text_block8 {
    margin-top: 18px;
    margin-bottom: 34px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.table {
    width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table table, td {
    border: 1px solid #EBEBEB;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    border-collapse: collapse;
    padding: 14px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.table table, td:first-child {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.table table th {
    border-bottom: 1px solid #777777;
    background: #EBEBEB;
    padding: 10px;
}

/*@media(max-width: 680px) {
    .table table {
        max-width: 10%;
    }
}*/

.text_block9 {
    margin-top: 28px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.text_block10 {
    color: red;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 23px;
}

.line {
    border-top: 1px solid black;
}

.test_descr {
    display: inline-block;
    width: 80%;
}

.test_descr p {
    padding-top: 14px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 20px;
}

.test_descr a {
    text-decoration: none;
    color: #0099ff;
}

.text_right {
    max-width: 20%;
    float: right;
}

.text_right h1 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 100px;
    font-weight: normal;
    color: #777777;
    margin-top: 180px;
}

.text_right h2 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 21px;
}

.text_right h3 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #666666;
    margin-top: 0;
    margin-bottom: 0;
}

@media(max-width: 986px) {
    .text_right {
        max-width: 100%;
        float: none;
        margin-bottom: 40px;
    }

    .text_right h1 {
        font-family: 'Trebuchet MS', Arial, sans-serif;
        font-size: 100px;
        font-weight: normal;
        color: #777777;
        margin-top: 20px;
    }
}

.social_footer {
    display: block;
    float: right;
    display: inline-block;
    margin-top: 10px;
}

.social_footer img {
    display: inline-block;
    width: 25px;
    padding-left: 10px;
}
