/*img {
    max-width: 100%;
    height: auto;
}*/

body {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
}

.header {
    background-color: #333333;
    display: block;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li a:hover {
    background-color: #00D7B3;
    transition: 0.5s linear;
}

.logo {
    /*margin-left: 80px;*/
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo img {
    max-width: 190px;
}

.header_button {
    margin-top: 30px;
    font-size: 11px;
    background-color: #00C7E4;
    border-color: #00C7E4;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.header_button:hover {
    background-color: #00D7B3;
    border-color: #00D7B3;
    transition: 0.5s linear;
}

.glyph_style {
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

.user_icon {
    margin: 0;
    padding: 0;
}

.user_icon img {
    margin-top: 14px;
    border-radius: 100px;
    border: 2px solid #00C7E4;
    background-color: white;
    padding: 4px;
}

.total_prise {
    font-size: 14px;
}

.user_id {
    margin-top: 15px;
    color: white;
    font-size: 12px;
}

.navbar_style {
    margin-top: 75px;
}

.slogan_container {
    background-color: #333333;
    height: 500px;
    color: white;
}

.slogan_container h4 {
    margin-top: 110px;
}

.slogan_container h1 {
    font-weight: bolder;
    font-size: 45px;
}

.slogan_container p {
    font-size: 12px;
    padding-bottom: 40px;
}

.font_green {
    color: #00D7B3;
}

.vector_img img {
    max-width: 100%;
}

.form_bgd {
    background: url('../images/base_bgd.png') no-repeat;
    height: 80px;
    max-width: 100%;
    text-align: center;
    border-radius: 5px 5px;
}

.search_form {
    margin-top: 20px;
    text-align: center;
}

.main_icons {
    margin-top: 100px;
}

.main_icons p {
    font-size: 12px;
    margin-bottom: 120px;
}

.main_icons h4 {
    font-weight: bold;
}

.banner {
    padding-right: 0px;
    padding-left: 0px;
}

.banner img {
    max-width: 100%;
}

.banner_button {
    margin-top: 300px;
}

.banner1 {
    background: url('../images/start_buying_banner.png') no-repeat;
    max-width: 100%;
}

.banner2 {
    background: url('../images/start_selling_banner.png') no-repeat;
}
