@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.eot");
  src: local("../fonts/Raleway/Raleway"), local("Raleway"), url("../fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Playfair Display SC Regular';
  src: url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.eot");
  src: url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.woff") format("woff"), url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Playfair Display SC Bold';
  src: url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.eot");
  src: url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.woff") format("woff"), url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  position: relative; }

html {
  margin: 0;
  padding: 0;
  min-height: 100%; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

p, h2 {
  margin: 0; }

.container-content {
  margin: 0 auto;
  max-width: 1134px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#menu {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1134px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 38px;
    padding-bottom: 14px;
    border-bottom: 1px solid #89898B; }
    #menu ul li {
      height: 18px; }
      #menu ul li a {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #F6F6F6;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding-bottom: 10px;
        border-bottom: 1px solid #89898B; }
        #menu ul li a:hover {
          color: #FF0E0E;
          border-bottom: 1px solid #FF0E0E; }
      #menu ul li.submenu ul.socials {
        display: none;
        border-bottom: 0; }
        #menu ul li.submenu ul.socials li {
          text-align: right; }
          #menu ul li.submenu ul.socials li a {
            text-decoration: none;
            border-bottom: 0; }
      #menu ul li.submenu:hover ul {
        display: block; }
      #menu ul li.submenu ul li {
        height: 50px; }
      #menu ul li.submenu {
        cursor: pointer; }

.scroll {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.mob-nav {
  right: 0;
  top: 0;
  position: fixed;
  z-index: 15;
  width: 100%; }

.mob-nav-container {
  background-color: #1D1C21;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 10; }

.mob-nav-container a.mob-nav-close-btn {
  display: block;
  position: relative;
  width: 10%;
  height: 20px;
  padding-top: 26px;
  padding-left: -4px;
  top: 13px;
  right: 5px;
  float: right;
  z-index: 100;
  clear: both; }
  .mob-nav-container a.mob-nav-close-btn:hover:after {
    background-color: #FF0E0E; }
  .mob-nav-container a.mob-nav-close-btn:hover:before {
    background-color: #FF0E0E; }

.mob-nav-container a.mob-nav-close-btn:after {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.mob-nav-container a.mob-nav-close-btn:before {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.mob-nav-container-content {
  background: #1D1C21;
  position: relative;
  padding-top: 45px;
  padding-left: 20px;
  width: 100%;
  z-index: 10; }

.mob-nav-container-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.mob-nav-container-content ul li {
  display: block;
  margin-bottom: 20px; }

.mob-nav-container-content ul li ul li {
  display: inline-block; }
  .mob-nav-container-content ul li ul li:first-child {
    padding-right: 10px; }
  .mob-nav-container-content ul li ul li a {
    border-bottom: 0 !important; }

.mob-nav-container-content ul li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #F6F6F6;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.mob-nav-container-content ul li:hover a {
  color: #FF0E0E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-bottom: 10px;
  border-bottom: 1px solid #FF0E0E; }

button.mob-nav-toggle {
  position: fixed;
  right: 10px;
  top: 20px;
  padding: 0;
  display: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  button.mob-nav-toggle:hover span {
    background-color: #FF0E0E;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

button.mob-nav-toggle span {
  display: block;
  height: 2px;
  width: 27px;
  background-color: #ffffff;
  margin-bottom: 5px; }

.hero {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.6))), url("../images/hero-bcg.svg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../images/hero-bcg.svg");
  background-size: cover;
  background-position: 10% 60%;
  background-repeat: no-repeat;
  height: 670px;
  width: 100%;
  background-color: #1D1C21; }
  .hero .container-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .hero .emblem {
    margin-top: 77px;
    position: absolute; }
  .hero .centered-content {
    text-align: center;
    padding-top: 125px;
    margin: 0 auto; }
    .hero .centered-content .logo {
      display: block; }
    .hero .centered-content h2 {
      display: block;
      font-family: "Playfair Display SC Bold", sans-serif;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #ffffff;
      margin-bottom: 58px; }
    .hero .centered-content a.contact-btn {
      text-decoration: none;
      scroll-behavior: smooth;
      vertical-align: sub;
      font-family: "Raleway", sans-serif;
      color: #D8D8D9;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      border: 2px solid #D8D8D9;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-top: 58px;
      padding: 13px 14px 12px 24px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .hero .centered-content a.contact-btn:hover {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #FF0E0E;
        border-color: #FF0E0E; }
      .hero .centered-content a.contact-btn span.plus {
        display: inline-block;
        font-family: "Raleway", sans-serif;
        font-size: 34px;
        vertical-align: sub;
        padding-left: 10px; }

.artists {
  padding-bottom: 130px;
  background-color: #1D1C21; }
  .artists .header h2 {
    font-family: "Playfair Display SC Bold", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 81px;
    color: #89898B;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0; }
  .artists .profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .artists .profiles .item .profile-photo {
      max-width: 261px; }
    .artists .profiles .item .description {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .artists .profiles .item .description .name {
        font-family: "Playfair Display SC Bold", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #F6F6F6; }
      .artists .profiles .item .description a.link-btn {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #F6F6F6;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .artists .profiles .item .description a.link-btn:hover {
          color: #FF0E0E;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .artists .profiles .item .description a.link-btn span {
          text-align: center;
          vertical-align: middle;
          display: inline-block;
          border: 1px solid #FF0E0E;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 11px;
          letter-spacing: 0.01em;
          color: #FF0E0E;
          width: 12px;
          height: 12px; }

.awards {
  background-image: url("../images/awards-bcg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 408px;
  width: 100%; }
  .awards .awards-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 152px; }
    .awards .awards-items .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 312px; }
      .awards .awards-items .item img {
        margin-right: 20px; }
      .awards .awards-items .item .name {
        font-family: "Playfair Display SC Bold", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #1D1C21; }
        .awards .awards-items .item .name h2 {
          font-family: "Playfair Display SC Bold", sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          color: #1D1C21;
          margin: 0; }
      .awards .awards-items .item .text {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #1D1C21; }
      .awards .awards-items .item a.link-btn {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #FF0E0E;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .awards .awards-items .item a.link-btn span {
          text-align: center;
          vertical-align: middle;
          display: inline-block;
          border: 1px solid #FF0E0E;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 11px;
          letter-spacing: 0.01em;
          color: #FF0E0E;
          width: 12px;
          height: 12px; }
        .awards .awards-items .item a.link-btn:hover {
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 10px;
          color: #1D1C21; }

.featured-work {
  padding-bottom: 130px;
  background-color: #1D1C21; }
  .featured-work .header {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .featured-work .header h2 {
      display: inline-block;
      font-family: "Playfair Display SC Bold", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 61px;
      line-height: 81px;
      color: #89898B;
      margin: 0; }
    .featured-work .header a.link-btn {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #F6F6F6;
      float: right;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .featured-work .header a.link-btn:hover {
        color: #FF0E0E;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .featured-work .header a.link-btn span {
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        border: 1px solid #FF0E0E;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 11px;
        letter-spacing: 0.01em;
        color: #FF0E0E;
        width: 12px;
        height: 12px; }
  .featured-work .artist-header {
    font-family: "Playfair Display SC Bold", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #F6F6F6;
    margin: 0;
    max-width: 500px;
    display: inline-block; }
  .featured-work .artist-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    top: -50px; }
    .featured-work .artist-gallery .mfp-title {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 11px; }
    .featured-work .artist-gallery .item {
      max-width: 261px; }

.about-us {
  background-image: url("../images/about-us-bcg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 428px;
  width: 100%; }
  .about-us .container-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about-us .container-content .text-content {
      padding-right: 20px;
      max-width: 455px; }
      .about-us .container-content .text-content .header h2 {
        font-family: "Playfair Display SC Bold", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 61px;
        line-height: 81px;
        color: #89898B; }
      .about-us .container-content .text-content .text {
        padding-top: 20px; }
        .about-us .container-content .text-content .text p {
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.01em;
          color: #1D1C21; }
    .about-us .container-content .facade-img {
      position: relative;
      top: -14px; }

.collective-work {
  padding-bottom: 50px;
  background-color: #1D1C21;
  text-align: center; }
  .collective-work .header {
    text-align: center;
    padding-top: 74px;
    padding-bottom: 24px; }
    .collective-work .header h2 {
      font-family: "Playfair Display SC Bold", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 61px;
      line-height: 81px;
      color: #89898B; }
  .collective-work .grid {
    height: auto;
    padding-bottom: 20px; }
    .collective-work .grid .row.grid {
      display: block; }
      .collective-work .grid .row.grid .grid-item {
        margin-bottom: 16px;
        float: left; }
  .collective-work .grid-item img {
    height: 192px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .collective-work .y-2.grid-item img {
    height: 400px;
    width: 100%; }
  .collective-work a.link-btn {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #F6F6F6;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .collective-work a.link-btn:hover {
      color: #FF0E0E;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .collective-work a.link-btn span {
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      border: 1px solid #FF0E0E;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 11px;
      letter-spacing: 0.01em;
      color: #FF0E0E;
      width: 12px;
      height: 12px; }

.contact-form {
  background-color: #1D1C21;
  padding-bottom: 80px;
  padding-top: 30px; }
  .contact-form .header {
    text-align: center; }
    .contact-form .header h2 {
      font-family: "Playfair Display SC Bold", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #F6F6F6; }
  .contact-form form {
    max-width: 540px;
    margin: 0 auto; }
    .contact-form form .button-wrapper {
      margin-top: 40px;
      text-align: center; }
      .contact-form form .button-wrapper button.contact-btn {
        text-decoration: none;
        scroll-behavior: smooth;
        vertical-align: sub;
        font-family: "Raleway", sans-serif;
        color: #D8D8D9;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        border: 2px solid #D8D8D9;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 13px 14px 12px 24px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: transparent;
        cursor: pointer; }
        .contact-form form .button-wrapper button.contact-btn:hover {
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          color: #FF0E0E;
          border-color: #FF0E0E; }
        .contact-form form .button-wrapper button.contact-btn span.plus {
          display: inline-block;
          font-family: "Raleway", sans-serif;
          font-size: 34px;
          vertical-align: sub;
          padding-left: 10px; }
    .contact-form form label {
      display: block;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #F6F6F6;
      width: 100%;
      margin-bottom: 5px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }
      .contact-form form label:first-child {
        margin-bottom: 11px; }
    .contact-form form input {
      background-color: #1D1C21;
      width: 100%;
      height: 30px;
      outline: none;
      margin: 0 0 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 0 15px 14px;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #F6F6F6;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #F6F6F6;
      cursor: text; }
      .contact-form form input:hover {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-bottom: 1px solid #FF0E0E; }
    .contact-form form .custom-select-wrapper {
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-bottom: 20px; }
      .contact-form form .custom-select-wrapper select {
        display: none; }
    .contact-form form .custom-select {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 0;
      border: 0; }
    .contact-form form .custom-select-trigger {
      background: #1D1C21;
      cursor: pointer;
      display: block;
      height: 40px;
      position: relative;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #F6F6F6;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 6px 0 0 14px;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #ffffff; }
      .contact-form form .custom-select-trigger:after {
        border-bottom: 2px solid #F6F6F6;
        border-right: 2px solid #F6F6F6;
        content: '';
        display: block;
        height: 10px;
        margin-top: -3px;
        position: absolute;
        right: 25px;
        top: 60%;
        -webkit-transform: rotate(45deg) translateY(-50%);
                transform: rotate(45deg) translateY(-50%);
        -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 10px; }
    .contact-form form .custom-select.opened .custom-select-trigger:after {
      margin-top: 3px;
      -webkit-transform: rotate(-135deg) translateY(-50%);
              transform: rotate(-135deg) translateY(-50%); }
    .contact-form form .custom-select-trigger:after:hover {
      border-bottom-color: #FF0E0E !important;
      border-right-color: #FF0E0E !important; }
    .contact-form form .custom-select-trigger:hover {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-bottom-color: #FF0E0E; }
    .contact-form form .custom-options {
      background: #ffffff;
      border: 1px solid #1D1C21;
      border-radius: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: block;
      left: 0;
      margin: 0 0;
      position: absolute;
      right: 0;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      outline: none;
      z-index: 3; }
    .contact-form form .custom-select.opened .custom-options {
      opacity: 1;
      pointer-events: all;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      visibility: visible; }
    .contact-form form .custom-option {
      color: #1D1C21;
      display: block;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 30px;
      padding: 0 12px;
      position: relative;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contact-form form .custom-option:last-of-type {
        border-bottom: 0; }
      .contact-form form .custom-option:hover {
        background: #1D1C21;
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .contact-form form .custom-option.selection {
      background: #1D1C21;
      color: #ffffff;
      font-family: "Raleway", sans-serif;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .contact-form form input::-webkit-input-placeholder {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #36353D; }
    .contact-form form textarea {
      background-color: #1D1C21;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-bottom: 1px solid #F6F6F6;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #F6F6F6;
      outline: none;
      margin: 0 0 20px;
      cursor: text;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 6px 0 0 14px; }
      .contact-form form textarea:hover {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-bottom-color: #FF0E0E; }
    .contact-form form textarea::-webkit-input-placeholder {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #36353D; }
    .contact-form form .addPhoto-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .contact-form form .addPhoto-wrapper .box {
        background-color: transparent; }
      .contact-form form .addPhoto-wrapper .inputfile-1 + label {
        color: #F6F6F6; }
      .contact-form form .addPhoto-wrapper .inputfile-2 + label {
        color: #F6F6F6; }
      .contact-form form .addPhoto-wrapper .inputfile-3 + label {
        color: #F6F6F6; }
      .contact-form form .addPhoto-wrapper label {
        margin-bottom: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .contact-form form .addPhoto-wrapper label span {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .contact-form form .addPhoto-wrapper label span:hover {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #FF0E0E; }
      .contact-form form .addPhoto-wrapper .inputfile {
        width: 70px;
        height: 40px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1; }
      .contact-form form .addPhoto-wrapper .inputfile + label {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 10px 20px;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #F6F6F6; }
      .contact-form form .addPhoto-wrapper .no-js .inputfile + label {
        display: none; }
      .contact-form form .addPhoto-wrapper .inputfile:focus + label,
      .contact-form form .addPhoto-wrapper .inputfile.has-focus + label {
        outline: 1px dotted #36353D;
        outline: -webkit-focus-ring-color auto 5px; }
      .contact-form form .addPhoto-wrapper .inputfile + label svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-top: 4px;
        margin-right: 4px; }

.location {
  background-color: #1D1C21;
  padding-bottom: 80px; }
  .location .location-content {
    background-color: #C4C4C4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .location .location-content .contact-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 30px;
      max-width: 485px;
      width: 100%; }
      .location .location-content .contact-info .item {
        padding-left: 96px;
        margin-bottom: 10px; }
        .location .location-content .contact-info .item .header h2 {
          font-family: "Playfair Display SC Bold", sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 14px;
          line-height: 19px;
          text-transform: lowercase;
          color: #1D1C21;
          margin: 0; }
        .location .location-content .contact-info .item .info {
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.01em;
          color: #1D1C21; }
          .location .location-content .contact-info .item .info a {
            text-decoration: none;
            color: #1D1C21; }
        .location .location-content .contact-info .item ul li {
          display: inline-block; }
          .location .location-content .contact-info .item ul li:first-child {
            margin-right: 10px; }
    .location .location-content .map {
      max-width: 649px;
      max-height: 317px !important;
      overflow: hidden;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .location .location-content .map iframe {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }

footer {
  background-color: #1D1C21; }
  footer #menuBottom {
    margin: 0 auto;
    max-width: 1134px;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    footer #menuBottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 17px;
      padding-bottom: 20px;
      border-bottom: 1px solid #89898B;
      border-top: 1px solid #89898B; }
      footer #menuBottom ul li {
        height: 18px; }
        footer #menuBottom ul li a {
          text-decoration: none;
          border: none !important;
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.01em;
          color: #F6F6F6;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          padding-bottom: 16px;
          border-bottom: 1px solid #89898B; }
          footer #menuBottom ul li a:hover {
            color: #FF0E0E;
            border-bottom: 1px solid #FF0E0E !important; }
        footer #menuBottom ul li.submenu ul.socials {
          display: none;
          border-bottom: 0; }
          footer #menuBottom ul li.submenu ul.socials li {
            text-align: right; }
            footer #menuBottom ul li.submenu ul.socials li a {
              text-decoration: none !important;
              border-bottom: 0; }
        footer #menuBottom ul li.submenu:hover > ul {
          border: none !important;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        footer #menuBottom ul li.submenu ul li {
          display: inline; }
        footer #menuBottom ul li.submenu ul li a:hover {
          border: 0 !important; }
        footer #menuBottom ul li.submenu {
          cursor: pointer; }
  footer .license {
    padding-bottom: 22px; }
    footer .license span {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.01em;
      color: #89898B; }
      footer .license span:first-child {
        margin-right: 103px; }

@media only screen and (max-width: 1087px) {
  .container-content {
    padding-left: 10px;
    padding-right: 10px; } }

@media only screen and (max-width: 786px) {
  button.mob-nav-toggle {
    display: block;
    padding: 0;
    margin-left: 0;
    z-index: 1; }
  .mob-nav {
    position: relative;
    z-index: 5; }
  .mob-nav-toggle {
    display: block; } }

@media only screen and (max-width: 1240px) {
  #menu {
    padding-left: 10px;
    padding-right: 10px; } }

@media only screen and (max-width: 786px) {
  #menu {
    display: none !important; } }

@media only screen and (max-width: 786px) {
  .hero .emblem {
    margin-top: 0;
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 1; }
    .hero .emblem img {
      width: 50px; } }

@media only screen and (max-width: 586px) {
  .hero {
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.6))), url("../images/hero-bcg.svg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../images/hero-bcg.svg");
    background-size: cover;
    background-position: 10% 60%;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%; }
    .hero .container-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .hero .centered-content {
      text-align: center;
      padding-top: 25px;
      margin: 0 auto; }
      .hero .centered-content .logo {
        display: block; }
        .hero .centered-content .logo img {
          width: 70%; }
      .hero .centered-content h2 {
        display: block;
        font-family: "Playfair Display SC Bold", sans-serif;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #ffffff;
        margin-bottom: 58px; } }

@media only screen and (max-width: 1120px) {
  .artists .profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .artists .profiles .item {
      width: 261px;
      padding: 20px; } }

@media only screen and (max-width: 768px) {
  .artists {
    padding-bottom: 30px; }
    .artists .header {
      text-align: center; }
      .artists .header h2 {
        font-size: 31px;
        line-height: 31px;
        padding-top: 20px;
        padding-bottom: 20px; }
    .artists .profiles .item .profile-photo img {
      width: 100%;
      height: 100%; } }

@media only screen and (max-width: 768px) {
  .awards {
    height: 100%; }
    .awards .awards-items {
      padding-top: 50px;
      padding-bottom: 50px; }
      .awards .awards-items .item {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; }
        .awards .awards-items .item img {
          margin-right: 0;
          padding-bottom: 10px; }
        .awards .awards-items .item .description .name {
          font-size: 18px;
          padding-bottom: 10px; }
          .awards .awards-items .item .description .name h2 {
            font-family: "Playfair Display SC Bold", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #1D1C21;
            margin: 0; }
        .awards .awards-items .item .description .text {
          padding-bottom: 10px; } }

@media only screen and (max-width: 578px) {
  .awards .awards-items {
    padding-top: 20px;
    padding-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .awards .awards-items .item {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 10px; } }

@media only screen and (max-width: 1188px) {
  .featured-work .artist-gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .featured-work .artist-gallery .item {
      padding: 20px; } }

@media only screen and (max-width: 768px) {
  .featured-work {
    padding-bottom: 30px; }
    .featured-work .header {
      padding-top: 20px; }
      .featured-work .header h2 {
        font-size: 31px;
        line-height: 31px;
        padding-bottom: 20px; }
    .featured-work .artist-gallery a .item img {
      height: 100%;
      width: 100%; } }

@media only screen and (max-width: 380px) {
  .featured-work {
    padding-bottom: 30px; }
    .featured-work .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-bottom: 10px; } }

@media only screen and (max-width: 1086px) {
  .about-us {
    height: 100%;
    width: 100%;
    padding-bottom: 20px; }
    .about-us .container-content {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .about-us .container-content .text-content {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 100%; }
        .about-us .container-content .text-content .text {
          padding-top: 20px; }
      .about-us .container-content .facade-img {
        margin: 20px auto 0;
        top: 0; } }

@media only screen and (max-width: 768px) {
  .about-us .container-content .text-content .header {
    padding-top: 30px; }
    .about-us .container-content .text-content .header h2 {
      font-size: 31px;
      line-height: 31px;
      color: #89898B; }
  .about-us .container-content .text-content .text {
    padding-top: 20px; }
  .about-us .container-content .facade-img img {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .collective-work {
    padding-bottom: 30px; }
    .collective-work .header {
      padding-top: 30px;
      padding-bottom: 24px; }
      .collective-work .header h2 {
        font-size: 31px;
        line-height: 31px; }
    .collective-work .grid {
      padding-bottom: 10px; }
      .collective-work .grid .row.grid .grid-item {
        margin-bottom: 10px; }
    .collective-work .grid-item img {
      height: 100%; }
    .collective-work .y-2.grid-item img {
      height: 100%;
      width: 100%; } }

@media only screen and (max-width: 768px) {
  .contact-form {
    padding-bottom: 30px; }
    .contact-form .header {
      padding-bottom: 20px; }
      .contact-form .header h2 {
        font-size: 24px;
        line-height: 32px; }
    .contact-form form .button-wrapper {
      margin-top: 20px;
      text-align: center; }
    .contact-form form .addPhoto-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media only screen and (max-width: 768px) {
  .location {
    padding-bottom: 30px; }
    .location .container-content {
      padding-left: 0;
      padding-right: 0; }
    .location .location-content .contact-info .item {
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 10px; } }

@media only screen and (max-width: 586px) {
  .location {
    padding-bottom: 30px; }
    .location .container-content {
      padding-left: 0;
      padding-right: 0; }
    .location .location-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .location .location-content .contact-info {
        padding-bottom: 30px; }
        .location .location-content .contact-info .item {
          padding-left: 10px;
          margin-bottom: 10px; } }

@media only screen and (max-width: 992px) {
  footer .license {
    padding-bottom: 22px; }
    footer .license span {
      display: block; }
      footer .license span:first-child {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 0; } }

@media only screen and (max-width: 786px) {
  .location {
    padding-bottom: 0; }
  footer #menuBottom {
    display: none; } }
