@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/helvetica-roman/HelveticaNeueCyr-Roman.eot');
  src: url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-roman/HelveticaNeueCyr-Roman.woff2') format('woff2'), url('../fonts/helvetica-roman/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/helvetica-roman/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/helvetica-medium/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/helvetica-medium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-medium/HelveticaNeueCyr-Medium.woff2') format('woff2'), url('../fonts/helvetica-medium/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/helvetica-medium/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/helvetica-bold/HelveticaNeueCyr-Bold.eot');
  src: url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-bold/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('../fonts/helvetica-bold/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/helvetica-bold/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Italic';
  src: url('../fonts/helvetica-italic/HelveticaNeueCyr-Italic.eot');
  src: url('/fonts/helvetica-italic/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/helvetica-italic/HelveticaNeueCyr-Italic.woff2') format('woff2'), url('/fonts/helvetica-italic/HelveticaNeueCyr-Italic.woff') format('woff'), url('/fonts/helvetica-italic/HelveticaNeueCyr-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/helvetica-light/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/helvetica-light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-light/HelveticaNeueCyr-Light.woff2') format('woff2'), url('../fonts/helvetica-light/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/helvetica-light/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-LightItalic';
  src: url('../fonts/helvetica-light-italic/HelveticaNeueCyr-LightItalic.eot');
  src: url('../fonts/helvetica-light-italic/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-light-italic/HelveticaNeueCyr-LightItalic.woff2') format('woff2'), url('../fonts/helvetica-light-italic/HelveticaNeueCyr-LightItalic.woff') format('woff'), url('../fonts/helvetica-light-italic/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  position: relative;
  font-size: 17px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
html {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
button {
  outline: none;
}
h1,
h2,
h3 {
  margin: 0px;
}
.container-inside {
  margin: 0px auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media only screen and (max-width: 736px) {
  .container-inside {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header-underline hr.short-line {
  display: inline-block;
  width: 16px;
  border: 2px solid #49596D;
  border-bottom: 0px none;
  border-left: 0px;
  border-right: 0px;
  height: 2px;
  margin: 0px;
}
.header-underline hr.long-line {
  width: 73px;
  display: inline-block;
  border: 2px solid #49596D;
  border-bottom: 0px none;
  border-left: 0px;
  border-right: 0px;
  height: 2px;
  margin: 0px;
}
.spacer {
  margin-top: 45px;
  margin-bottom: 45px;
}
.spacer .header-underline {
  text-align: center;
}
.spacer .header-underline hr.short-line {
  display: inline-block;
  width: 36px;
  border: 5px solid #49596D;
  border-bottom: 0px none;
  border-left: 0px;
  border-right: 0px;
  height: 5px;
  margin: 0px;
}
.spacer .header-underline hr.long-line {
  width: 93px;
  display: inline-block;
  border: 5px solid #49596D;
  border-bottom: 0px none;
  border-left: 0px;
  border-right: 0px;
  height: 5px;
  margin: 0px;
}
.global-nav {
  background-color: #ffffff;
  z-index: 3;
  width: 100%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  height: 90px;
}
.global-nav .mob-nav {
  display: block;
  position: absolute;
  z-index: 15;
}
.global-nav .mob-nav-container {
  background-color: #ffffff;
  display: none;
  width: 50%;
  z-index: 9;
  float: right;
}
.global-nav .mob-nav-container-content {
  background: #ffffff;
  position: absolute;
  margin-top: 9px;
  width: 100%;
  z-index: 10;
}
.global-nav .mob-nav-container-content ul {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style-type: none;
}
.global-nav .mob-nav-container-content ul li {
  display: block;
  margin-bottom: 26px;
}
.global-nav .mob-nav-container-content ul li a {
  text-decoration: none;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: 14px;
  color: #232323;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.global-nav .mob-nav-container-content ul li:hover a {
  margin-left: 7px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #232323;
}
.global-nav button.mob-nav-toggle {
  display: none;
  background: transparent;
  border: 0px!important;
  cursor: pointer!important;
  outline: none!important;
  padding: 0;
}
.global-nav button.mob-nav-toggle span {
  display: block;
  height: 2px;
  width: 27px;
  background-color: #232323;
  margin-bottom: 5px;
}
.global-nav .top-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  margin-top: 23px;
}
.global-nav .top-container .logo {
  margin-top: 0px;
  display: block;
  width: 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-nav .top-container .logo a svg {
  display: block;
  width: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.global-nav .top-container .nav-container .nav-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-nav .top-container .nav-container .nav-content ul li {
  display: inline-block;
  text-align: center;
  margin-right: 28px;
  margin-bottom: 3px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.global-nav .top-container .nav-container .nav-content ul li:hover a {
  border-bottom: 2px solid #232323;
  padding-bottom: 10px;
  color: #232323;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.global-nav .top-container .nav-container .nav-content ul li:last-child {
  margin-right: 0px;
}
.global-nav .top-container .nav-container .nav-content ul li a {
  text-decoration: none;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: 14px;
  color: #232323;
  line-height: 27px;
  text-transform: uppercase;
}
.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  height: 70px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.scrolled .top-container {
  margin-top: 13px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.scrolled .top-container .logo img {
  width: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 1060px) {
  .global-nav .top-container .nav-container .nav-content ul li {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .global-nav button.mob-nav-toggle {
    display: block;
    padding: 0px;
    margin-left: -2px;
  }
  .global-nav .mob-nav {
    position: relative;
    z-index: 5;
  }
  .global-nav .mob-nav-toggle {
    display: block;
  }
  .global-nav .nav {
    display: none;
  }
}
@media only screen and (max-width: 374px) {
  .global-nav {
    height: 70px;
  }
  .global-nav .top-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 48px;
    margin-top: 13px;
  }
  .global-nav .top-container .logo img {
    width: 90px;
  }
}
.china-main {
  padding-top: 90px;
}
.china-main-content {
  height: 600px;
  background: url('../images/bridge.jpg') no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 20% 50%;
  position: relative;
  margin-bottom: 70px;
}
.china-main-content .img-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
}
.china-main-content .text-container {
  z-index: 100;
  width: 100%;
  text-align: center;
}
.china-main-content .text-container h1 {
  z-index: 2;
  padding-top: 230px;
  padding-bottom: 30px;
  font-size: 80px;
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  color: #ffffff;
  letter-spacing: 8px;
  text-shadow: 2px 1px 10px #D1D1D1;
}
.china-main-content .text-container h2 {
  padding-top: 30px;
  font-size: 27px;
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
}
.china-main-content .text-container .header-underline hr.short-line {
  border: 2px solid #ffffff;
  border-bottom: 0px none;
  border-left: 0px;
  border-right: 0px;
}
.china-main-content .text-container .header-underline hr.long-line {
  border: 2px solid #ffffff;
  border-bottom: 0px none;
  border-left: 0px;
  border-right: 0px;
}
.china-main-content .text-container a {
  display: block;
  margin: 0 auto;
  width: 224px;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 13px;
  background-color: #49596D;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  line-height: 23.01px;
  font-weight: 900;
  font-size: 17px;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.china-main-content .text-container a:hover {
  color: #49596D;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid #4D647D;
}
@media only screen and (max-width: 986px) {
  .china-main {
    padding-top: 90px;
  }
  .china-main-content {
    height: 400px;
    margin-bottom: 40px;
    background-attachment: local;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
  }
  .china-main-content .text-container h1 {
    padding-top: 80px;
    font-size: 60px;
    letter-spacing: 8px;
  }
}
@media only screen and (max-width: 664px) {
  .china-main-content .text-container h1 {
    font-size: 40px;
    padding-top: 85px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 362px) {
  .china-main-content .text-container h1 {
    font-size: 30px;
    padding-top: 85px;
  }
}
.japan-main-content {
  height: 600px;
  background: url('../images/hall.jpg') no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 20% 50%;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 70px;
}
.japan-main-content .img-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
}
.japan-main-content .text-container {
  z-index: 100;
  width: 100%;
  text-align: center;
}
.japan-main-content .text-container h2 {
  z-index: 2;
  padding-top: 230px;
  padding-bottom: 30px;
  font-size: 80px;
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  color: #ffffff;
  letter-spacing: 8px;
  text-shadow: 2px 1px 10px #D1D1D1;
}
.japan-main-content .text-container .header-underline hr.short-line {
  border: 2px solid #ffffff;
  border-bottom: 0px none;
  border-left: 0px;
  border-right: 0px;
}
.japan-main-content .text-container .header-underline hr.long-line {
  border: 2px solid #ffffff;
  border-bottom: 0px none;
  border-left: 0px;
  border-right: 0px;
}
.japan-main-content .text-container a {
  display: block;
  margin: 0 auto;
  width: 224px;
  margin-top: 45px;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 13px;
  background-color: #49596D;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  line-height: 23.01px;
  font-weight: 900;
  font-size: 17px;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.japan-main-content .text-container a:hover {
  color: #49596D;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid #49596D;
}
@media only screen and (max-width: 986px) {
  .japan-main-content {
    height: 400px;
    margin-bottom: 40px;
    background-attachment: local;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
  }
  .japan-main-content .text-container h2 {
    padding-top: 80px;
    font-size: 60px;
    letter-spacing: 8px;
  }
}
@media only screen and (max-width: 664px) {
  .japan-main-content .text-container h2 {
    font-size: 40px;
    padding-top: 85px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 380px) {
  .japan-main-content .text-container h2 {
    font-size: 40px;
    padding-top: 58px;
    letter-spacing: 0px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 362px) {
  .japan-main-content .text-container h2 {
    font-size: 30px;
    padding-top: 85px;
  }
}
.low-main-content {
  height: 600px;
  background: url('../images/low.jpg