@font-face {
  font-family: 'Raleway-Bold', sans-serif;
  src: url('../fonts/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBold', sans-serif;
  src: url('../fonts/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway-Medium', sans-serif;
  src: url('../fonts/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBold', sans-serif;
  src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'OpenSans-Regular', sans-serif;
  src: url('../fonts/OpenSans-Regular.ttf');
}
body {
  margin: 0px;
  padding: 0px;
}
html {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.hero {
  background: url('../images/hero_background.png') no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 900px;
  width: 100%;
}
.hero .container .nav {
  background-color: transparent;
  height: 98px;
  z-index: 1;
}
.hero .container .nav .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero .container .nav .content button {
  background: transparent;
  border: 0px;
  cursor: pointer;
  outline: none;
  padding: 0px;
}
.hero .container .nav .content .logo {
  margin-left: 40px;
  margin-top: 40px;
}
.hero .container .nav .content .options {
  margin-right: 40px;
  margin-top: 40px;
}
.hero .container .nav .content .options .search {
  margin-right: 24px;
}
.hero .container .container-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 900px;
  margin-top: -112px;
}
.hero .container .container-inside button {
  background-color: #f84444;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 17px;
  height: 35px;
  margin-bottom: 32px;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 188px;
}
.hero .container .container-inside button:hover {
  background-color: #ffffff;
  color: #f84444;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hero .container .container-inside h1 {
  color: #ffffff;
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 35px;
  letter-spacing: 62px;
  margin-top: -8px;
}
.hero .container .container-inside .arrow {
  bottom: 0px;
  position: absolute;
  top: 837px;
}
.navigation-container {
  background-color: #fefefe;
  display: none;
  height: 600px;
  left: 10px;
  margin: 0px auto;
  max-width: 100%;
  position: absolute;
  top: 10px;
}
.navigation-content {
  text-align: center;
}
.navigation-content .btn-close button {
  float: right;
  margin: 30px;
}
@media (max-width: 1024px) {
  .hero {
    height: 770px;
  }
  .hero .container .container-inside {
    height: 770px;
    margin-top: -145px;
  }
  .hero .container .container-inside button {
    font-size: 24px;
    height: 53px;
    margin-bottom: 0px;
    width: 282px;
  }
  .hero .container .container-inside h1 {
    display: none;
  }
}
@media (max-width: 414px) {
  .hero {
    height: 400px;
  }
  .hero .container .container-inside {
    height: 400px;
    margin-top: -90px;
  }
  .hero .container .container-inside button {
    font-size: 15px;
    height: 30px;
    margin-bottom: 0px;
    width: 165px;
  }
}
.about-us {
  background-color: #ffffff;
  margin-bottom: 166px;
  width: 100%;
}
.about-us .container {
  padding: 0px 120px;
}
.about-us .container .container-inside {
  margin: 0px auto;
  max-width: 1200px;
}
.about-us .container .container-inside .about-us-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 112px;
}
.about-us .container .container-inside .about-us-header .waves {
  display: block;
  margin-top: 135px;
}
.about-us .container .container-inside .about-us-header h3 {
  color: #2c2e37;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 23px;
  line-height: 33px;
  margin: 0px;
  margin-top: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .about-us {
    margin-bottom: 120px;
  }
  .about-us .container {
    padding: 0px;
  }
  .about-us .container .container-inside {
    margin: 0px auto;
    max-width: 1024px;
  }
  .about-us .container .container-inside .about-us-header {
    margin-bottom: 112px;
  }
  .about-us .container .container-inside .about-us-header .waves {
    margin-top: 82px;
  }
}
.who-we-are {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}
.who-we-are .article {
  margin-right: 15px;
  max-width: 570px;
  width: 50%;
}
.who-we-are .article .article-content h3 {
  color: #2c2e37;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 20px;
  line-height: 42px;
  padding-left: 100px;
  text-transform: uppercase;
}
.who-we-are .article .article-content p {
  color: #949494;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0px;
  padding: 0px;
  padding-left: 100px;
}
.who-we-are .photo {
  margin-left: 15px;
  max-width: 570px;
  width: 50%;
}
.who-we-are .photo img {
  border: 0px;
  height: auto;
  width: 100%;
}
.what-we-do {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
.what-we-do .article {
  margin-left: 15px;
  max-width: 570px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 50%;
}
.what-we-do .article .article-content h3 {
  color: #2c2e37;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 20px;
  line-height: 42px;
  padding-left: 100px;
  text-transform: uppercase;
}
.what-we-do .article .article-content p {
  color: #949494;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0px;
  padding: 0px;
  padding-left: 100px;
}
.what-we-do .photo {
  margin-right: 15px;
  max-width: 570px;
  width: 50%;
}
.what-we-do .photo img {
  border: 0px;
  height: auto;
  width: 100%;
}
@media (max-width: 1024px) {
  .who-we-are {
    margin-left: 0px;
    margin-right: 0px;
  }
  .who-we-are .photo {
    margin-left: 0px;
  }
  .who-we-are .article {
    margin-right: 0px;
  }
  .who-we-are .article .article-content h3 {
    padding-left: 112px;
    padding-right: 80px;
  }
  .who-we-are .article .article-content p {
    padding-left: 112px;
    padding-right: 80px;
  }
  .what-we-do {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
  }
  .what-we-do .photo {
    margin-right: 0px;
  }
  .what-we-do .article {
    margin-left: 0px;
  }
  .what-we-do .article .article-content h3 {
    padding-left: 80px;
    padding-right: 112px;
  }
  .what-we-do .article .article-content p {
    padding-left: 80px;
    padding-right: 112px;
  }
}
@media (max-width: 835px) {
  .about-us .container .container-inside .about-us-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
  .about-us .container .container-inside .about-us-header .waves {
    display: block;
    margin-top: 40px;
  }
  .who-we-are {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .who-we-are .article {
    margin-right: 0px;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .who-we-are .article .article-content h3 {
    margin-top: 60px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
  }
  .who-we-are .article .article-content p {
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
  }
  .who-we-are .photo {
    margin-left: 0px;
    max-width: 100%;
    width: 100%;
  }
  .who-we-are .photo img {
    border: 0px;
    height: auto;
    width: 100%;
  }
  .what-we-do {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .what-we-do .article {
    margin-left: 18px;
    margin-right: 18px;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .what-we-do .article .article-content h3 {
    color: #2c2e37;
    font-family: 'Raleway-ExtraBold', sans-serif;
    font-size: 20px;
    line-height: 42px;
    margin-top: 60px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  .what-we-do .article .article-content p {
    color: #949494;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 14px;
    line-height: 26px;
    margin: 0px;
    padding: 0px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
  }
  .what-we-do .photo {
    margin-right: 0px;
    max-width: 100%;
    width: 100%;
  }
  .what-we-do .photo img {
    border: 0px;
    height: auto;
    width: 100%;
  }
}
.blog {
  background-color: #ffffff;
  margin-bottom: 170px;
  width: 100%;
}
.blog .container {
  padding: 0px 135px;
}
.blog .container .container-inside {
  margin: 0px auto;
  max-width: 1200px;
}
.blog .container .container-inside .articles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog .container .container-inside .articles .article-1 {
  margin-right: 15px;
  max-width: 470px;
}
.blog .container .container-inside .articles .article-1 h1 {
  display: none;
}
.blog .container .container-inside .articles .article-1 p {
  color: #949494;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  margin: 0px;
  max-width: 445px;
  padding: 0px;
}
.blog .container .container-inside .articles .article-2 {
  margin-left: 15px;
  max-width: 470px;
}
.blog .container .container-inside .articles .article-2 p {
  color: #949494;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  margin: 0px;
  max-width: 445px;
  padding: 0px;
  word-wrap: break-word;
}
@media (max-width: 1024px) {
  .blog .container {
    padding: 0px 112px;
  }
}
@media (max-width: 777px) {
  .blog .container {
    padding: 0px 18px;
  }
}
@media (max-width: 670px) {
  .blog {
    margin-bottom: 90px;
  }
  .blog .container .container-inside .articles {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .blog .container .container-inside .articles .article-1 {
    margin-right: 0px;
    max-width: 100%;
  }
  .blog .container .container-inside .articles .article-1 p {
    margin-bottom: 70px;
    max-width: 100%;
  }
  .blog .container .container-inside .articles .article-2 {
    margin-left: 0px;
    max-width: 100%;
  }
  .blog .container .container-inside .articles .article-2 h1 {
    display: none;
  }
  .blog .container .container-inside .articles .article-2 p {
    max-width: 100%;
  }
}
.blog-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 57px;
}
.blog-buttons .journal-btn {
  margin-right: 9.5px;
}
.blog-buttons .journal-btn button {
  background-color: #f84444;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 12px;
  height: 40px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 130px;
}
.blog-buttons .journal-btn button:hover {
  background-color: #ffffff;
  color: #f84444;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-buttons .our_story-btn {
  margin-left: 9.5px;
}
.blog-buttons .our_story-btn button {
  background-color: transparent;
  border: 2px solid #e6e6e6;
  color: #818181;
  cursor: pointer;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 12px;
  height: 42px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 132px;
}
.blog-buttons .our_story-btn button:hover {
  background-color: #f84444;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.latest-projects {
  background-color: #2c2e37;
  height: 412px;
}
.latest-projects .container {
  margin: 0px auto;
  width: 100%;
}
.latest-projects .container .container-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  max-width: 570px;
  margin: 0px auto;
}
.latest-projects .container .container-inside .line {
  background-color: rgba(224, 224, 224, 0.4);
  height: 2px;
  position: absolute;
  top: 0px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 100px;
}
.latest-projects .container .container-inside h3 {
  color: #ffffff;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 23px;
  margin: 0px;
  margin-top: 121.5px;
  text-transform: uppercase;
}
.latest-projects .container .container-inside p {
  color: #949494;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  margin: 0px;
  margin-top: 23.5px;
  text-align: center;
}
@media (max-width: 561px) {
  .latest-projects {
    background-color: #2c2e37;
    height: 412px;
  }
  .latest-projects .container {
    margin: 0px auto;
    width: 100%;
  }
  .latest-projects .container .container-inside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    max-width: 340px;
    margin: 0px auto;
  }
}
.latest-projects-buttons {
  margin-top: 32px;
}
.latest-projects-buttons button {
  cursor: pointer;
}
.latest-projects-buttons .view-projects {
  background-color: #f84444;
  border: 0px;
  color: #ffffff;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 12px;
  height: 40px;
  margin-right: 9.5px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 130px;
}
.latest-projects-buttons .view-projects:hover {
  background-color: #ffffff;
  color: #f84444;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.latest-projects-buttons .contact {
  background-color: transparent;
  border: 2px solid #56585f;
  color: #ffffff;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 12px;
  height: 42px;
  margin-left: 9.5px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 132px;
}
.latest-projects-buttons .contact:hover {
  background-color: #f84444;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.our-journal {
  height: 544px;
  overflow: hidden;
  position: relative;
}
.our-journal .container {
  width: 100%;
}
.our-journal .container .container-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
}
.our-journal .container .container-inside .article {
  margin-top: 50px;
  max-height: 544px;
  width: 51.2%;
}
.our-journal .container .container-inside .article .article-content {
  margin: 0px auto;
  max-width: 370px;
}
.our-journal .container .container-inside .article .article-content h3 {
  color: #2c2e37;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 20px;
  margin: 0px;
  margin-top: 33px;
  text-transform: uppercase;
}
.our-journal .container .container-inside .article .article-content p {
  color: #949494;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  margin: 0px;
  margin-top: 26px;
}
.our-journal .container .container-inside .article .article-content button {
  cursor: pointer;
}
.our-journal .container .container-inside .article .article-content .journal-btn {
  background-color: #f84444;
  border: 0px;
  color: #ffffff;
  font-size: 12px;
  height: 40px;
  margin-top: 32px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 130px;
}
.our-journal .container .container-inside .article .article-content .journal-btn:hover {
  background-color: #ffffff;
  color: #f84444;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.our-journal .container .container-inside .photo-journal {
  max-width: 705px;
  width: 48.8%;
}
.our-journal .container .container-inside .photo-journal img {
  border: 0px;
  width: 100%;
}
@media (max-width: 809px) {
  .our-journal {
    height: 100%;
  }
  .our-journal .container .container-inside {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .our-journal .container .container-inside .article {
    height: 325px;
    margin-top: 50px;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
  }
  .our-journal .container .container-inside .article .article-content {
    margin: 0px auto;
    max-width: 100%;
    text-align: center;
  }
  .our-journal .container .container-inside .article .article-content h3 {
    margin-top: 19px;
  }
  .our-journal .container .container-inside .photo-journal {
    max-width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
}
.profiles {
  background-color: #ffffff;
  width: 100%;
}
.profiles .container {
  padding: 0px 120px;
}
.profiles .container .container-inside {
  margin: 0px auto;
  max-width: 1200px;
}
.profiles-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}
.profiles-header .waves {
  margin-top: 91.5px;
}
.profiles-header h3 {
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 23px;
  line-height: 17px;
  margin: 0px;
  margin-bottom: 120px;
  margin-top: 36.5px;
  text-transform: uppercase;
}
.profiles-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
}
.profiles-container .profile-item {
  height: 600px;
  margin-bottom: 67px;
  margin-left: 15px;
  margin-right: 15px;
  width: 370px;
}
.profiles-container .profile-item img {
  border: 0px;
  max-width: 370px;
  width: 100%;
}
.profiles-container .profile-item .profile-content {
  max-width: 299px;
  padding-left: 16px;
}
.profiles-container .profile-item .profile-content .profile-item-header h5 {
  color: #2c2e37;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 15px;
  margin: 0px;
  padding-top: 51.5px;
}
.profiles-container .profile-item .profile-content .profile-item-header h4 {
  color: #2c2e37;
  font-family: 'Raleway-Medium', sans-serif;
  font-size: 15px;
  margin: 0px;
  padding-top: 10px;
  text-transform: uppercase;
}
.profiles-container .profile-item .profile-content .line-after {
  background-color: #D2D2D2;
  display: block;
  height: 2px;
  margin-bottom: 26px;
  margin-top: 28px;
  width: 30px;
}
.profiles-container .profile-item .profile-content .profile-text p {
  color: #949494;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  margin: 0px;
  padding-bottom: 35.5px;
}
.profiles-container .profile-item .profile-content .socials ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.profiles-container .profile-item .profile-content .socials .socials-items li {
  display: inline-block;
  padding-right: 16px;
}
@media (max-width: 1039px) {
  .profiles .container {
    padding: 0px 112px;
  }
  .profiles-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .profiles-container .profile-item {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 963px) {
  .profiles-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 597px) {
  .profiles .container {
    padding: 0px 18px;
  }
  .profiles-header .waves {
    margin-top: 61px;
  }
  .profiles-header h3 {
    font-family: 'Raleway-ExtraBold', sans-serif;
    font-size: 23px;
    line-height: 17px;
    margin: 0px;
    margin-bottom: 61px;
    margin-top: 26px;
    text-transform: uppercase;
  }
}
.footer {
  background-color: #2c2e37;
  height: 300px;
}
.footer .container {
  padding: 0px 120px;
}
.footer .container .container-inside {
  margin: 0px auto;
  max-width: 1200px;
}
.footer .container .container-inside p {
  line-height: 9px;
  margin: 0px;
  margin-bottom: 29px;
}
.footer .container .container-inside a {
  color: #ffffff;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 13px;
}
.footer .container .container-inside a:hover {
  color: #f84444;
  text-decoration: underline;
}
.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 84px;
}
.footer-items-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-items-left .footer-item-1 {
  margin-right: 30px;
  width: 70px;
}
.footer-items-left .footer-item-1 .footer-logo {
  padding-left: 15px;
}
.footer-items-left .footer-item-2 {
  margin-right: 130px;
  width: 70px;
}
.footer-items-left .footer-item-3 {
  margin-right: 30px;
  width: 100px;
}
.footer-items-right .footer-item-4 {
  max-width: 370px;
}
.footer-items-right .footer-item-4 h5 {
  color: #ffffff;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  line-height: 10px;
  margin: 0px;
  margin-bottom: 17px;
}
.footer-items-right .footer-item-4 p {
  color: #ffffff;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 12px;
  line-height: 20px !important;
  margin: 0px;
}
.footer-items-right .footer-item-4 .form {
  margin-top: 32px;
}
.footer-items-right .footer-item-4 .form form input[type='text'],
.footer-items-right .footer-item-4 .form form select,
.footer-items-right .footer-item-4 .form form textarea {
  background-color: #2c2e37;
  border: 2px solid #56585f;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 12px;
  height: 36px;
  max-width: 339px;
  outline: none;
  padding: 12px;
  padding-left: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}
.footer-items-right .footer-item-4 .form form input[type='text']:hover,
.footer-items-right .footer-item-4 .form form select:hover,
.footer-items-right .footer-item-4 .form form textarea:hover {
  background-color: #ffffff;
  color: #56585f;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-socials .footer-social-content {
  margin-top: 50px;
}
.footer-socials .footer-social-content .footer-socials-facebook {
  margin-right: 10px;
}
.footer-socials .footer-social-content .footer-socials-twitter {
  margin-left: 10px;
}
@media (max-width: 1025px) {
  .footer-items-left .footer-item-1 {
    margin-right: 30px;
    width: 70px;
  }
  .footer-items-left .footer-item-1 .footer-logo {
    padding-left: 0px;
  }
  .footer-items-left .footer-item-2 {
    margin-right: 70px;
  }
}
@media (min-width: 1025px) {
  .footer-socials .footer-social-content {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
}
@media (max-width: 1024px) {
  .footer {
    height: 375px;
  }
  .footer .container {
    padding: 0px 100px;
  }
  .footer-items-right .footer-item-4 h5 {
    line-height: 20px;
  }
  .footer-socials .footer-social-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
}
@media (max-width: 864px) {
  .footer {
    height: 375px;
  }
  .footer .container {
    padding: 0px 18px;
  }
  .footer-items-left .footer-item-1 {
    margin-right: 30px;
    width: 70px;
  }
  .footer-items-left .footer-item-2 {
    margin-right: 70;
    width: 70px;
  }
  .footer-items-left .footer-item-3 {
    margin-right: 30px;
    width: 100px;
  }
}
@media (max-width: 635px) {
  .footer-content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%;
  }
  .footer {
    height: 100%;
  }
  .footer .container {
    height: 100%;
    padding: 0px 18px;
  }
  .footer-items-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-items-left .footer-item-1 {
    left: 18px;
    position: absolute;
    top: 60px;
    width: 70px;
  }
  .footer-items-left .footer-item-1 .footer-logo {
    padding-left: 15px;
  }
  .footer-items-left .footer-item-2 {
    margin-right: 83px;
    margin-top: 60px;
    width: 70px;
  }
  .footer-items-left .footer-item-3 {
    margin-bottom: 30px;
    margin-right: 0px;
    margin-top: 60px;
    width: 100px;
  }
  .footer-socials .footer-social-content {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 58px;
    padding-left: 34px;
  }
}
