body {
    margin: 0;
    font-family: "Regular";
    height: 100%;
}
html {
    height: 100%;
}
* {
    box-sizing: border-box;
    outline: unset;
}
a {
    color: #cdcdcd;
    text-decoration: none;
    font-size: 14px;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent !important;
}
input[type=submit], button {
    cursor: pointer;
    background-color: unset;
    border: unset;
}
.clearBoth {
    clear: both;
}

.languageBlock {
    position: absolute;
    right: 50px;
    top: 25px;
    z-index: 100;
}
.languageBlock a {
    color: black;
    font-family: "Bold";
    margin: 0 5px;
    cursor: pointer;
}
.languageBlock a:hover {
    color: #fd861f8a;
}
.languageBlock a.active {
    color: #f5821f;
}

.leftContent {
    height: 100%;
    position: relative;
}
.leftBar {
    position: fixed;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.9);
    box-sizing: border-box;
    z-index: 1000;
    width: 361px;
    padding: 13px 27px 13px 17px;
    overflow: auto;
}
.leftBar > div {
    text-align: center;
}
.leftBar li {
    list-style: none;
}
.leftBar img {
    width: 95%;
}
.leftBar .mostTopTxt {
    float: right;
}
.leftBar .mostTopTxt a {
    padding: 0 10px;
}
.leftBar .mostTopTxt a:nth-child(2) {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    border-top: none;
}
.leftBar .leftMenu {
    color: white;
    padding: 0;
    margin: 20px 0;
}
.leftBar .leftMenu li {
    background-color: #2a2822;
}
.leftBar .leftMenu li:hover {
    background-color: #bc6820;
}
.leftBar .priceAndCalc img {
    width: 75%;
}
.leftBar .leftMenu li, .leftBar .accessories {
    padding: 2.16% 3.5%;
    font-family: "Bold";
    font-size: 20px;
    margin: 3px 0;
    cursor: pointer;
}
.leftBar .accessories {
    background-color: #a7a9ac;
    list-style: none;
    text-align: left;
    position: relative;
    margin-bottom: 11px;
}
.leftBar .accessories::after {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    content: '';
    display: block;
    height: 10px;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 10px;
}
.leftBar .accessories ul {
    display: none;
    background-color: #343434;
    opacity: 0.9;
    position: absolute;
    left: 100%;
    bottom: -200%;
    padding: 15px 0;
    min-width: max-content;
}
.leftBar .accessories ul li {
    color: white;
    padding: 10px 40px;
}
.leftBar .accessories ul li:hover {
    background-color: #a7a9ac;
    color: black;
}
.leftBar .accessories:hover ul {
    display: block
}
.leftBar .abCompanyBlock {
    background-color: #2a2822;
    text-align: left;
    padding: 20px 19px 14px 25px;
}
.leftBar .abCompanyBlock .abcbTop {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
}
.leftBar .abCompanyBlock .abcbTop > div {
    display: inline-block;
}
.leftBar .abCompanyBlock .abcbTop .contacts, .leftBar .abCompanyBlock .abcbTop .location {
    width: auto;
}
.leftBar .abCompanyBlock .abcbTop .contacts .phone {
    font-size: 26px;
    font-family: "Light";
}
.leftBar .abCompanyBlock .abcbTop .contacts .mail {
    text-decoration: underline;
}
.leftBar .abCompanyBlock .abcbTop .location {
    margin-top: 27px;
}
.leftBar .abCompanyBlock .abcbTop .location a {
    display: block;
}
.leftBar .abCompanyBlock .abcbTop .location a:first-child {
    margin-bottom: 8px;
}
.leftBar .abCompanyBlock .abcbTop .location img {
    width: 10px;
}
.leftBar .abCompanyBlock .abcbTop .sotials {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    text-align: center;
}
.leftBar .abCompanyBlock .abcbTop .sotials img {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 12px;
}
.leftBar .abCompanyBlock .abcbBot a {
    display: inline-block;
    width: 31.5%;
    text-align: center;
    margin-top: 12px;
    color: white;
    font-size: 12px;
}
.leftBar .abCompanyBlock .abcbBot a img {
    width: 39px;
    height: 28px;
    display: block;
    margin: auto;
    margin-bottom: 3px;
}
.leftBar .searchBlock form {
    margin: 10px 0;
    position: relative;
}
.leftBar .searchBlock form input {
    font-size: 14px;
    width: 100%;
    background-color: #2a2822;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    color: white;
}
.leftBar .searchBlock form button {
    background-color: unset;
    border: none;
    background-image: url("../images/search.png");
    position: absolute;
    right: 10px;
    top: 10px;
    width: 17px;
    height: 14px;
    cursor: pointer;
}

.page {
    position: relative;
    z-index: 10;
}

.slideCont {
    background-image: url("../images/slideImg/slide1.jpg");
    height: 800px;
    background-size: cover;
}
.contBlock {
    margin-left: 361px;
    position: relative;
    height: inherit;
}
.slideCont .contBlock {
    display: flex;
}
.grandHdr {
    text-align: center;
    height: auto;
    width: 100%;
    margin: auto;;
}
.grandSpan {
    font-size: 80px;
    font-family: "Black";
    color: white;
    display: block;
    text-shadow: 0px 2px 13px #545454;
    text-transform: uppercase;
    max-inline-size: 80%;
    margin: auto;
}
.btnMore {
    padding: 15px 40px;
    background-color: #f5821f;
    border: none;
    color: white;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}
.btnMore:hover {
    background-color: #ff9f4c;
}
.colorGamm {
    position: absolute;
    bottom: 30px;
    display: flex;
    transition: 0.3s;
    left: 0;
    right: 0;
}
.colorGamm > div {
    margin: auto;
}
.colorGamm button {
    width: 29px;
    height: 29px;
    margin-left: 21px;
    transition: 0.3s;
}
.colorGamm button:hover {
    width: 35px;
    height: 35px;
}
.colorGamm button:nth-child(1) {
    background-color: #a76e3d;
}
.colorGamm button:nth-child(2) {
    background-color: #a76e3d;
}
.colorGamm button:nth-child(3) {
    background-color: #db9b64;
}
.colorGamm button:nth-child(4) {
    background-color: #a76e3d;
}

.discounts {
    background-image: url("../images/discountsImg/background.png");
    height: 700px;
    text-align: center;
}
.discounts ul {
    padding: 0;
    display: flex;
}
.discounts ul li {
    padding-top: 10px;
    margin-top: 160px;
    display: inline-block;
    font-family: "Light";
    list-style: none;
    width: 24%;
    text-align: center;
    font-size: 24px;
}
.discounts ul li:hover {
    box-shadow: 0px 0px 20px #00000047;
}
.discounts ul li > * {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.discounts ul li > a {
    height: 58px;
    font-size: 24px;
    color: black;
}
.discounts ul li > div {
    height: 70px;
}
.discounts ul li > div:last-child {
    height: 168px;
    position: relative;
}

.accessoriesText {
    font-family: "ExtraBld";
    font-size: 45px;
    text-align: center;
    color: #f5821f;
    text-transform: uppercase;
}
.accessories ul li > span {
    height: 80px;
}
.discountsImg {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.consultation {
    background-image: url("../images/consultationImg/consSlide1.jpg");
    height: 500px;
    background-position-y: -260px;
}
.consultation .consForm {
    height: inherit;
    max-width: 480px;
    float: right;
    margin-right: 100px;
    padding: 50px;
    background-color: rgba(27, 27, 27, 0.65);
    box-sizing: border-box;
}
.consultation .consForm span {
    max-width: 400px;
    margin: auto;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-family: "Bold";
    margin-bottom: 50px;
    display: block;
}
.consultation .consForm input {
    display: block;
    margin: auto;
    border: none;
    border-radius: unset;
    padding: 20px;
    max-width: 380px;
    width: 100%;
    box-sizing: border-box;
    outline: unset;
    margin-bottom: 11px;
}
.consultation .consForm input::placeholder {
    color: #f6821f;
}
.consultation .consForm input[type=submit] {
    margin-top: 10px;
    background-color: #f6821f;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Bold";
}
.textContainer .contBlock .textBlock h2 {
    text-transform: uppercase;
    font-size: 20px;
}
.textContainer .contBlock .textBlock {
    padding: 20px;
    font-size: 14px;
    line-height: 2;
}
.textContainer .contBlock .textBlock a {
    color: #f6821f;
    text-decoration: unset;
}

footer {
    background-color: #343434;
}
footer .payment, footer .bottomFooter {
    background-color: #2e2e2e;
}
footer .payment .paymentBlock {
    padding: 20px;
    text-align: center;
}
footer .payment .paymentBlock span {
    display: block;
    color: white;
    text-transform: uppercase;
    font-family: "Bold";
    font-size: 20px;
}
footer .payment .paymentBlock .paymentImgs {
    display: flex;
}
footer .payment .paymentBlock .paymentImgs img {
    max-width: 30%;
}
footer .payment .paymentBlock .paymentImgs img, footer .sideMap .colums {
    margin: auto;
    margin-top: 20px;
    display: inline-block;
}
footer .payment .paymentBlock .paymentImgs img:first-child, footer .sideMap .colums:first-child {
    margin-left: 0;
}
footer .payment .paymentBlock .paymentImgs img:last-child, footer .sideMap .colums:last-child {
    margin-right: 0;
}
footer .sideBlock {
    padding: 20px;
}
footer .sideMap {
    display: flex;
}
footer .sideMap .colums .mapTitle {
    color: white;
    font-family: "Bold";
    padding-bottom: 3px;
    border-bottom: 1px solid white;
    font-size: 18px;
    text-transform: uppercase;
}
footer .sideMap .colums ul {
    padding: 0;
}
footer .sideMap .colums ul li {
    list-style: none;
    margin: 4px 0;
}
footer .sideMap .colums ul a:hover {
    color: #cdcdcd;
}
footer .sideMap > .colums ul a {
    color: white;
    font-family: "Light";
    font-size: 18px;
}
footer .sideMap .colums ul img {
    max-width: 15px;
    max-height: 15px;
    margin-right: 10px;
}
footer .sideMap .colums ul .phoneFoot a {
    font-size: 30px;
}
footer .sideMap .colums ul .fs14 a {
    font-size: 14px;
}
footer .sideMap .colums ul .oficeFoot {
    margin: 15px 0;
}
.mob {
    display: none;
}
footer .sideMap .colums ul .oficeFoot a {
    background-color: rgba(245, 130, 31, 0.35);
    padding: 5px 10px;
    margin-left: -10px;
    font-family: "Regular";
    text-transform: uppercase;
}

footer .bottomFooter span {
    color: white;
}
footer .bottomFooter .sotials {
    display: inline-block;
    float: right;
}
footer .bottomFooter .sotials a {
    margin: 0 15px;
}
footer .bottomFooter .sotials a i {
    font-size: 18px;
    color: white;
}

/* mob */

.mobHeader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: none;
}

@media (max-width: 1023px) {
    .leftBar {
        display: none;
    }

    .page {
        margin-top: 190px;
    }
    .languageBlock {
        display: none;
    }
    .slideCont .grandSpan {
        font-size: 70px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .btnMore {
        font-family: "Regular";
    }


    .mobHeader {
        display: block;
        z-index: 1000;
        height: 190px;
    }
    .mobHeader .blackBlock {
        background-color: #2a2822;
        display: flex;
        height: 120px;
    }
    .mobHeader .blackBlock i {
        font-size: 45px;
        color: white;
        background-color: unset;
    }
    .mobHeader .blackBlock img {
        height: 70px;
    }
    .mobHeader .blackBlock button {
        margin: auto;
    }
    .mobHeader .orangeBlock {
        height: 70px;
        background-color: #f5821f;
        color: white;
        padding: 10px 40px;
        box-sizing: border-box;
        display: flex;
    }
    .mobHeader .orangeBlock > div{
        display: inline-block;
    }
    .mobHeader .orangeBlock .phoneCall {
        float: left;
        font-size: 36px;
        font-family: "Light";
        width: 60%;
        margin: auto;
    }
    .mobHeader .orangeBlock .phoneCall img {
        vertical-align: middle
    }
    .mobHeader .orangeBlock .callBack {
        width: 41%;
        margin: auto;
    }
    .mobHeader .orangeBlock .callBack span {
        font-size: 24px;
        font-family: "Semibold";
        border-bottom: 1px solid white;
        display: inline-block;
        float: right;
    }

    .contBlock {
        margin: 0;
    }


    .discounts {
        height: auto;
    }
    .discounts ul {
        display: block;
    }
    .discounts ul li {
        width: 49%;
        margin: 183px 0;
        /* margin-top: 0; */
    }
    .discounts.accessories {
        overflow: hidden;
    }
    .discounts.accessories ul li {
        display: inline-table;
    }

    .consultation {
        height: auto;
    }
    .consultation .consForm span {
        font-size: 36px;
        line-height: 1.5;
    }
    .consultation .consForm {
        max-width: none;
        width: 100%;
        margin-right: 0;
        text-align: center;
        float: none;
    }
    .consultation .consForm input {
        text-align: center;
        font-size: 20px;
        font-family: "Light";
        padding: 18px;
        max-width: 465px;
    }
    .consultation .consForm input[type=submit] {
        font-family: "Bold";
        font-size: 24px;
        padding: 16px;
    }

    .accessoriesText {
        font-size: 25px;
    }

    footer .sideBlock {
        padding: 20px 50px;
    }
    footer .sideMap {
        display: block;
    }
    footer .sideMap .colums {
        width: 50%;
        padding-left: 35px;
        float: left;
        text-align: left;
    }
    footer .sideMap .colums.lastColums {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    footer .sideMap .colums.lastColums ul {
        display: flex;
        /* margin: 16px -50px; */
    }
    footer .sideMap .colums.lastColums ul > div {
        display: inline-block;
        width: 49%;
        text-align: left;
    }
    footer .sideMap .colums.lastColums ul > div:last-child > div {
        float: right;
    }
    footer .sideMap .colums ul .oficeFoot {
        margin: 0;
    }
    footer .sideMap .colums ul .oficeFoot.mob {
        display: list-item;
    }
    footer .sideMap .colums ul .oficeFoot.desc {
        display: none;
    }
    footer .sideMap .colums .mapTitle {
        font-size: 24px;
        margin-bottom: 20px;
        display: inline-block;
    }
    footer .sideMap > .colums ul a {
        font-size: 24px !important;
        font-family: "Light";
    }
    footer .sideMap .colums ul li {
        margin: 10px 0;
    }
    footer .bottomFooter span {
        font-size: 18px;
    }
    footer .bottomFooter .sotials.desc {
        display: none;
    }
    .sotials.mob {
        display: block;
    }
    .sotials.mob a {
        font-size: 50px;
        color: white;
        margin: 30px;
    }
    footer .sideBlock {
        text-align: center;
    }
    footer .bottomFooter .sideBlock {
        padding: 10px;
    }
}

@media (max-width: 575px) {
    .mobHeader .blackBlock i {
        font-size: 30px;
    }
    .mobHeader .blackBlock img {
        height: 35px;
    }

    .mobHeader .orangeBlock {
        padding: 10px 20px;
    }
    .mobHeader .orangeBlock .phoneCall {
        font-size: 20px;
    }
    .mobHeader .orangeBlock .callBack span {
        font-size: 13px
    }


    .slideCont {
        height: 750px;
    }
    .slideCont .grandSpan {
        font-size: 40px;
    }
    .btnMore {
        font-size: 20px;
    }
    .phoneForSlide {
        display: none;
    }



    .consultation .consForm span {
        font-size: 25px;
    }



    footer .bottomFooter .sotials {
        display: none;
    }
    footer .sideBlock {
        padding: 10px;
    }
    footer .sideMap .colums {
        padding-left: 0;
        width: 100%;
    }
    footer .sideMap .colums.lastColums {
        text-align: initial;
    }
    footer .sideMap .colums.lastColums ul {
        display: block;
    }
    footer .sideMap .colums.lastColums ul > div {
        width: 100%;
    }
    footer .sideMap .colums.lastColums ul > div:last-child > div {
        float: initial;
        margin-bottom: 20px;
    }
    footer .bottomFooter {
        margin-top: 13px;
    }
}
